<template>
	<main>
		<dmds-section-header :level="1" header="The Department"
		                     tall color="white" background-color="blue-dark" shadow-text
		                     background="/images/department.jpg"
		                     :shadow-text-offset="0" :bottom-nav="bottomNav"></dmds-section-header>
		<dmds-section fade>
			<dmds-hr-header>
				<h2 class="text-2xl">Campuses</h2>
			</dmds-hr-header>
			<row class="-mx-2">
				<column class="p-2" md="1/2" v-for="campus in campuses" :key="campus.id">
					<dmds-card>
						<dmds-background-image :image="imageURL(campus.image.path)" color="blue-darker"
						                       class="p-6 md:p-8 text-white">
							<h1 class="mb-3">{{campus.name}}</h1>
							<div class="mb-6" v-html="campus.short_description"></div>
							<dmds-button :to="'/department/campuses/' + campus.slug">Learn More</dmds-button>
						</dmds-background-image>
					</dmds-card>
				</column>
			</row>
		</dmds-section>
		<dmds-transition-in effect="fade" direction="up">
			<dmds-section-header :level="2" header="Faculty &amp; Staff" tall color="white"
			                     background-color="blue-darker" background="/images/faculty.jpg"
			                     :cta="{to:'/department/faculty',title:'Learn More'}"></dmds-section-header>
		</dmds-transition-in>
		<dmds-section fade>
			<row class="-mx-2">
				<column class="p-2" md="1/2">
					<dmds-card class="bg-grey-lightest p-6">
						<h2 class="mb-4">Outreach</h2>
						<div class="mb-4" v-html="outreach.short_description"></div>
						<dmds-button to="/department/outreach">Learn More</dmds-button>
					</dmds-card>
				</column>
				<column class="p-2" md="1/2">
					<dmds-card class="bg-grey-lightest p-6">
						<h2 class="mb-4">Research</h2>
						<div class="mb-4" v-html="research.short_description"></div>
						<dmds-button to="/department/research">Learn More</dmds-button>
					</dmds-card>
				</column>
			</row>
		</dmds-section>
	</main>
</template>

<script>
	import {
		DmdsSection,
		DmdsSectionHeader,
		DmdsHrHeader,
		DmdsButton,
		DmdsCard,
		DmdsBackgroundImage,
		DmdsTransitionIn,
	} from '~/components/ui'
	import {Row, Column} from '~/components/grid'
	import imageURL from '~/mixins/imageURL'

	export default {
		name: "department",
		mixins: [imageURL],
		components: {
			DmdsSection,
			DmdsSectionHeader,
			DmdsHrHeader,
			DmdsBackgroundImage,
			DmdsButton,
			DmdsCard,
			DmdsTransitionIn,
			Row,
			Column
		},
		data() {
			return {
				bottomNav: [
					{to: '/department/campuses', title: 'Campuses'},
					{to: '/department/faculty', title: 'Faculty'},
					{to: '/department/outreach', title: 'Outreach'},
					{to: '/department/research', title: 'Research'},
				]
			}
		},
		async asyncData({app}) {
			const data = await Promise.all([
				app.$axios.get(process.env.API_URL + 'channels/campuses/entries').then(res => res.data),
				app.$axios.get(process.env.API_URL + 'channels/outreach/entries').then(res => res.data),
				app.$axios.get(process.env.API_URL + 'channels/research/entries').then(res => res.data),
			])
			return {
				campuses: data[0],
				outreach: data[1],
				research: data[2],
			}
		},
	}
</script>

<style scoped>

</style>