<template>
	<main>
		<dmds-section-header :level="1" header="Outreach"
		                     color="white" shadow-text
		                     :shadow-text-offset="0" background="/images/department.jpg"
		                     :breadcrumbs="[{to: '/department', title: 'Department'}]"
		                     :bottom-nav="bottomNav"></dmds-section-header>
		<dmds-section fade>
			<div v-html="body"></div>
		</dmds-section>
	</main>
</template>

<script>
	import * as grid from '~/components/grid'
	import * as ui from '~/components/ui'
	import imageURL from '~/mixins/imageURL'

	export default {
		name: "outreach",
		mixins: [imageURL],
		components: {
			...grid,
			...ui,
		},
		async asyncData({app}) {
			let pageData = await
				app.$axios.get(process.env.API_URL + 'channels/outreach/entries').then(res => res.data)
			return {...pageData}
		},
		data() {
			return {
				bottomNav: [
					{to: '/department/campuses', title: 'Campuses'},
					{to: '/department/faculty', title: 'Faculty'},
					{to: '/department/outreach', title: 'Outreach', active: true},
					{to: '/department/research', title: 'Research'},
				]
			}
		},
	}
</script>

<style scoped>

</style>