<template>
	<main>
		<dmds-section-header :level="1" header="The Application" sub-header="Graduate Application Process"
		                     color="white" shadow-text
		                     :shadow-text-offset="0"
		                     :bottom-nav="bottomNav"></dmds-section-header>
		<dmds-section v-for="step in steps" :key="step.id">
			<div class="relative">
				<div class="absolute pin-t pin-l text-grey-light -ml-8 -mt-8 z-n1 font-normal"
				     style="font-size: 8rem;" v-if="step.show_number">
					<dmds-parallax :amount="100" :dampening="0.9">
						{{pad(step.step_number + 1)}}
					</dmds-parallax>
				</div>
				<h1 class="text-red-darkest mb-4">{{step.title}}</h1>
				<div class="md:pl-8" v-html="step.description"></div>
			</div>
		</dmds-section>
	</main>
</template>

<script>
	import * as grid from '~/components/grid'
	import * as ui from '~/components/ui'
	import * as icons from '~/components/icons'

	export default {
		name: "graduate",
		components: {
			...ui,
			...grid,
			...icons,
		},
		async asyncData({app}) {
			let steps = await app.$axios.get(process.env.API_URL + 'channels/graduate-application-process/entries?order_by=step_number').then(res => res.data)
			return {
				steps: steps
			}
		},
		data() {
			return {
				bottomNav: [
					{to: '/apply', title: 'Undergraduate'},
					{to: '/apply/graduate', title: 'Graduate', active: true},
					{to: '/apply/transfer', title: 'Transfer'},
				]
			}
		},
		methods: {
			pad(input) {
				return input < 10 ? '0' + input.toString() : input.toString()
			}
		},
	}
</script>

<style scoped>

</style>