<template>
	<nuxt-link :to="to" class="nl">
        <span class="nl-f">
            {{ text }}
        </span>
		<span class="nl-b-l nl-b" aria-hidden="true">
            <span class="nl-b-i" aria-hidden="true">
                {{ text }}
            </span>
        </span>
		<span class="nl-b-r nl-b" aria-hidden="true">
			<span class="nl-b-i" aria-hidden="true">
				{{ text }}
			</span>
		</span>
	</nuxt-link>
</template>

<script>
	export default {
		name: 'nav-link',
		props: {
			to: {
				type: String,
				required: true
			},
			text: {
				type: String,
				required: true
			}
		}
	}
</script>

<style scoped>

	.nl {
		display: block;
		position: relative;
		padding: 0.5em;
		margin-right: 0.5em;
		font-size: 0.8rem;
		text-transform: uppercase;
		text-decoration: none !important;
	}

	@media screen and (min-width: 768px) {
		.nl {
			font-size: 0.9rem;
		}
	}

	.nl:hover .nl-b-l {
		left: 0.5em;
		right: 50%;
		opacity: 1;
		animation: leftMouseOn 0.2s;
	}

	.nl:hover .nl-b-l .nl-b-i {
		position: absolute;
		left: initial;
		right: 0%;
		transform: translateX(50%);
	}

	.nl:hover .nl-b-r {
		right: 0.5em;
		left: 50%;
		opacity: 1;
		animation: rightMouseOn 0.2s;
	}

	.nl:hover .nl-b-r .nl-b-i {
		position: absolute;
		right: initial;
		left: 0%;
		transform: translateX(-50%);
	}

	.nl-f {
		position: relative;
		z-index: 1;
		color: grey;
		width: max-content;
		white-space: nowrap;
	}

	.nl-b {
		position: absolute;
		top: 0.5em;
		height: 100%;
		z-index: 2;
		overflow: hidden;
	}

	.nl-b-i {
		transform: translateX(-50%);
		border-bottom: 2px solid black;
		color: black;
	}

	.nl-b-l {
		left: 0.5em;
		right: calc(100% - 0.5em);
		opacity: 0;
		animation: leftMouseOff 0.2s;
	}

	.nl-b-l .nl-b-i {
		position: absolute;
		left: 0;
		transform: translateX(0%);
	}

	.nl-b-r {
		right: 0.5em;
		left: calc(100% - 0.5em);
		opacity: 0;
		animation: rightMouseOff 0.2s;
	}

	.nl-b-r .nl-b-i {
		position: absolute;
		right: 0em;
		transform: translateX(0%);
	}

	@keyframes leftMouseOn {
		0% {
			left: 50%;
			right: 50%;
			opacity: 0;
		}
		5% {
			opacity: 1;
		}
		100% {
			left: 0.5em;
			right: 50%;
			opacity: 1;
		}
	}

	@keyframes leftMouseOff {
		0% {
			left: 0.5em;
			right: 50%;
			opacity: 1;
		}
		95% {
			opacity: 1;
		}
		100% {
			opacity: 0;
			left: 0.5em;
			right: calc(100% - 0.5em);
		}
	}

	@keyframes rightMouseOn {
		0% {
			left: 50%;
			right: 50%;
			opacity: 0;
		}
		5% {
			opacity: 1;
		}
		100% {
			left: 50%;
			right: 0.5em;
			opacity: 1;
		}
	}

	@keyframes rightMouseOff {
		0% {
			right: 0.5em;
			left: 50%;
			opacity: 1;
		}
		95% {
			opacity: 1;
		}
		100% {
			right: 0.5em;
			left: calc(100% - 0.5em);
			opacity: 0;
		}
	}

</style>