<template>
	<header class="main-header">
		<uconn-banner class="ucb" ref="ucb">
			<nav class="main-nav" role="navigation">
				<nav-link to="/program" text="Program"/>
				<nav-link to="/department" text="Department"/>
				<nav-link to="/news" text="News"/>
				<nav-link to="/work" text="Work"/>
			</nav>
			<dmds-button :to="{path: '/apply'}" size="sm" role="navigation">Apply</dmds-button>
		</uconn-banner>
		<!--<div class="nav-spacer"></div>-->
	</header>
</template>

<script>
	import uconnBanner from './uconn-banner'
	import navLink from './nav-link'
	import DmdsButton from '~/components/ui/DmdsButton.vue'

	export default {
		name: 'navigation',
		components: {
			uconnBanner,
			navLink,
			DmdsButton,
		},
		data() {
			return {
				raf: null,
				shadow: false
			}
		},
		methods: {
			update() {
				this.raf = window.requestAnimationFrame(this.update.bind(this))
				if (window.pageYOffset > 75 && !this.shadow) {
					this.shadow = true
					this.$refs.ucb.$el.classList.add('shadow-md')
				}

				if (window.pageYOffset <= 75 && this.shadow) {
					this.shadow = false
					this.$refs.ucb.$el.classList.remove('shadow-md')
				}
			}
		},
		mounted() {
			this.raf = window.requestAnimationFrame(this.update.bind(this))
		},
		beforeDestroy() {
			window.cancelAnimationFrame(this.raf)
		}
	}
</script>

<style>
	.main-header {
		position: sticky;
		z-index: 99999;
		top: -75px;
		background-color: white;
	}

	.main-nav {
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 3rem;
		z-index: 99999;
		background-color: white;
		display: flex;
		align-items: center;
		justify-content: space-around;
		box-shadow: 0 -4px 8px 0 rgba(0, 0, 0, .08), 0 -2px 4px 0 rgba(0, 0, 0, .04);
	}

	@media (min-width: 666px ) {
		#search-container {
			display: flex !important;
			justify-content: flex-end;
			align-items: center;
		}

		.main-nav {
			position: static;
			box-shadow: none;
		}
	}

	.ucb {
		transition: box-shadow 0.15s ease-in-out;
	}

</style>