<template>
    <div id="uconn-banner">
        <div id="uconn-header-container">
            <div class="row-container">
                <div class="row-fluid">
                    <div id="home-link-container">
                        <a id="home-link" href="http://uconn.edu/">
                            <span id="wordmark">UCONN</span>
                            <span id="university-of-connecticut">UNIVERSITY OF CONNECTICUT</span>
                        </a>
                    </div>
                    <div id="button-container">
                        <span>
                          <a class="btn" href="http://uconn.edu/search.php" title="Search">
                              <i class="icon-search"></i>
                          </a>
                        </span>
                        <span>
                          <a class="btn" href="http://uconn.edu/azindex.php" title="AZ Index"><i
                                  class="icon-a-z"></i></a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-container" id="site-header" v-if="show_header">
            <div class="row-fluid">
                <div>
                    <p id="super-title"><a :href="site_department_url">{{ site_department }}</a></p>
                    <h1 id="site-title"><nuxt-link to="/">{{ site_name }}</nuxt-link></h1>
                </div>
                <div id="search-container">
                    <slot></slot>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
  export default {
    name: 'uconn-banner',
    data: function () {
      return {
        show_header: true,
        site_department_url: '#',
        site_department: 'School of Fine Arts',
        site_name: 'Digital Media & Design'
      }
    }
  }
</script>

<style scoped lang="scss">
    //@import "../../../assets/scss/app";

    /* Base blue color */
    $bg-color: #000E2F;

    /* Name for the UConn font */
    $uconn-font: "UConn";

    /* Name for secondary font */
    $secondary-font: "Proxima Nova";

    /* Fonts to fallback on if webfonts don't load */
    $fallback-fonts: Arial, Helvetica, sans-serif;

    /* Base URL for the webfonts */
    $font-base-url: "//uconn.edu/shared/fonts";

    /* Height of the blue banner per web UConn web standards */
    $banner-height: 60px;

    /* Banner namespace. To avoid conflicts with other CSS frameworks */
    $namespace: "#uconn-banner";

    /* Button size for Search and A-Z Index */
    $btn-size: 32px;

    /* Icon font size */
    $icon-size: 21px;

    /**
     * Edge padding.
     *
     * When the banner goes responsive, we add padding to the page edge so that the logo, buttons,
     * header and search box don't butt up against the edge of the browser. Customize the amount of
     * added padding here
     */
    $edge-padding: 1em;

    /**
     * Neede for IE
     */
    $button-padding: ($banner-height - $btn-size) / 2;

    /* Utility class for webfonts in old browsers */
    %smoothing {

        text-rendering: geometricPrecision;

        //text-shadow: 0px 0px 1px rgba(0,0,0,0);
        //-webkit-transform: rotate(-0.0000000001deg);
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=99)";
        filter: progid:DXImageTransform.Microsoft.Alpha(opacity=99);

        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    #{$namespace} {
        a {
            &:link, &:hover, &:visited {
                text-decoration: none;
            }
        }
    }

    @font-face {
        font-family: $uconn-font;
        src: url($font-base-url + '/uconn/uconn.eot');
        src: url($font-base-url + '/uconn/uconn.eot?#iefix') format('embedded-opentype'),
        url($font-base-url +'/uconn/uconn.svg#uconnregular') format('svg'),
        url($font-base-url +'/uconn/uconn.woff') format('woff'),
        url($font-base-url +'/uconn/uconn.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: $secondary-font;
        src: url($font-base-url + '/proximanova_bold_macroman/ProximaNova-Bold-webfont.eot');
        src: url($font-base-url + '/proximanova_bold_macroman/ProximaNova-Bold-webfont.eot?#iefix') format('embedded-opentype'),
        url($font-base-url + '/proximanova_bold_macroman/ProximaNova-Bold-webfont.svg#proxima_nova_ltsemibold') format('svg'),
        url($font-base-url + '/proximanova_bold_macroman/ProximaNova-Bold-webfont.woff') format('woff'),
        url($font-base-url + '/proximanova_bold_macroman/ProximaNova-Bold-webfont.ttf') format('truetype');
        font-weight: bold;
        font-style: normal;
    }

    @font-face {
        font-family: $secondary-font;
        src: url($font-base-url + '/proximanova_bolditalic_macroman/ProximaNova-BoldIt-webfont.eot');
        src: url($font-base-url + '/proximanova_bolditalic_macroman/ProximaNova-BoldIt-webfont.eot?#iefix') format('embedded-opentype'),
        url($font-base-url + '/proximanova_bolditalic_macroman/ProximaNova-BoldIt-webfont.svg#proxima_novabold_italic') format('svg'),
        url($font-base-url + '/proximanova_bolditalic_macroman/ProximaNova-BoldIt-webfont.woff') format('woff'),
        url($font-base-url + '/proximanova_bolditalic_macroman/ProximaNova-BoldIt-webfont.ttf') format('truetype');
        font-weight: bold;
        font-style: italic;
    }

    @font-face {
        font-family: $secondary-font;
        src: url($font-base-url + '/proximanova_semibold_macroman/ProximaNova-Sbold-webfont.eot');
        src: url($font-base-url + '/proximanova_semibold_macroman/ProximaNova-Sbold-webfont.eot?#iefix') format('embedded-opentype'),
        url($font-base-url + '/proximanova_semibold_macroman/ProximaNova-Sbold-webfont.svg#proxima_nova_ltsemibold') format('svg'),
        url($font-base-url + '/proximanova_semibold_macroman/ProximaNova-Sbold-webfont.woff') format('woff'),
        url($font-base-url + '/proximanova_semibold_macroman/ProximaNova-Sbold-webfont.ttf') format('truetype');
        font-weight: 500;
        font-style: normal;
    }

    @font-face {
        font-family: $secondary-font;
        src: url($font-base-url + '/proximanova_regular_macroman/ProximaNova-Reg-webfont.eot');
        src: url($font-base-url + '/proximanova_regular_macroman/ProximaNova-Reg-webfont.eot?#iefix') format('embedded-opentype'),
        url($font-base-url + '/proximanova_regular_macroman/ProximaNova-Reg-webfont.svg#proxima_nova_rgregular') format('svg'),
        url($font-base-url + '/proximanova_regular_macroman/ProximaNova-Reg-webfont.woff') format('woff'),
        url($font-base-url + '/proximanova_regular_macroman/ProximaNova-Reg-webfont.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: $secondary-font;
        src: url($font-base-url +  '/proximanova_italic_macroman/ProximaNova-RegIt-webfont.eot');
        src: url($font-base-url +  '/proximanova_italic_macroman/ProximaNova-RegIt-webfont.eot?#iefix') format('embedded-opentype'),
        url($font-base-url + '/proximanova_italic_macroman/ProximaNova-RegIt-webfont.svg#proxima_novaregular_italic') format('svg'),
        url($font-base-url + '/proximanova_italic_macroman/ProximaNova-RegIt-webfont.woff') format('woff'),
        url($font-base-url + '/proximanova_italic_macroman/ProximaNova-RegIt-webfont.ttf') format('truetype');
        font-weight: normal;
        font-style: italic;
    }

    @font-face {
        font-family: 'icons';
        src: url($font-base-url +  '/icons/icons.eot');
        src: url($font-base-url +  '/icons/icons.eot?#iefix') format('embedded-opentype'),
        url($font-base-url + '/icons/icons.ttf') format('truetype'),
        url($font-base-url + '/icons/icons.woff') format('woff'),
        url($font-base-url + '/icons/icons.svg#icons') format('svg');
        font-weight: normal;
        font-style: normal;
    }

    #{$namespace} {

        [class*="icon-"] {
            font-family: 'icons';
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;

            /* Better Font Rendering =========== */
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }

        .icon-a-z:before {
            content: "\e600";
        }
        .icon-search:before {
            content: "\e601";
        }
    }

    #{$namespace} {
        .row-container {
            width: 100%;
            margin: 0px auto;

            box-sizing: border-box;
            padding-left: $edge-padding;
            padding-right: $edge-padding;
        }

        .row-fluid {
            width: 100%;
            display: table;

            /**
            * Child divs are displayed as table cells and aligned middle.
            */
            & > div {
                display: table-cell;
                vertical-align: middle;
                float: none;
            }
        }
    }

    #home-link-container {
        width: 60%;
    }

    #uconn-header-container {
        background-color: $bg-color;
        color: #fff;
        .btn {
            color: #c1e8f8;
        }

        .row-fluid {
            & > div {
                height: $banner-height;
            }
        }
    }

    #home-link {
        height: 20px;
        overflow: hidden;

        &:hover {
            text-decoration: none;
            color: #eee;
        }

        span {
            margin: auto 0;
            vertical-align: middle;

        }
    }

    #site-header {
        padding: 30px 0 15px 0;

        .row-fluid {
            display: flex;
            justify-content: space-between;
            align-items: center;
            & > div {
                flex: initial;
            }
        }
    }

    #wordmark {
        color: #fff;
        font-family: $uconn-font, $fallback-fonts;
        font-size: 32px;
        overflow: hidden;
        letter-spacing: 3px;
        text-transform: uppercase;
        padding: 0px 5px 0 0;

        @extend %smoothing;
    }

    #university-of-connecticut {
        font-family: $secondary-font, $fallback-fonts;
        color: #9faab2;
        font-size: 18px;
        letter-spacing: .055em;
        word-spacing: .02em;
        padding: 1px 0 0 10px;
        font-weight: bold;
        font-style: normal;
        border-left: 2px solid #3f4760;
        line-height: normal;
        display: none;

        @extend %smoothing;

        @media (min-width: 50em) {
            display: initial;
        }
    }

    #{$namespace} {
        #button-container {
            text-align: right;

            & > span {
                width: $btn-size;
                height: $btn-size;
                display: inline-block;
                margin: 0px 2px;
                padding: 0px;
                vertical-align: middle;
                white-space: nowrap;
            }

            .btn {
                display: block;
                height: 100%;
                width: 100%;
                font-size: $icon-size;
                text-align: center;
                padding: inherit;
                text-shadow: none;
                line-height: normal;
                vertical-align: auto;

                [class*="icon-"] {
                    line-height: $btn-size;
                }

            }
            .btn, .btn:hover, .btn:visited, .btn:focus {
                border-radius: 3px;
                background-color: #1c3173;
                border: 1px solid #1e2b51;
                transition: none;
                background-position: 0% 0%;
            }
            .btn:hover {
                color: #fff;
            }

        }
    }

    #site-title {
        margin: 0px !important;
        padding: 0px;
	    line-height: inherit;
		font-size: 1.5em;
        a {
            padding: 0;
            margin: 0;
            &:link, &:visited {
                font-family: $secondary-font;
                font-size: 24px;
                font-weight: 500;
                color: #0b1860;
            }

        }
        @extend %smoothing;
    }

    #super-title {
        font-size: 13px;
        margin: 0 !important;
        padding: 0;
        a {
            &:link, &:visited {
                color: #868695;
                font-family: $secondary-font, $fallback-fonts;
                font-weight: normal;
                text-transform: uppercase;
                letter-spacing: 1px;
                margin-bottom: 5px;
            }
        }
        @extend %smoothing;
    }

    #search-container {
        text-align: right;

        #button-container {
            .btn-primary {
                background: #e9e9e9;
            }
        }
    }

    #site-search {
        margin: 0px;
    }

    #search-container {
        text-align: right;

        #button-container {
            .btn-primary {
                background: #e9e9e9;
            }
        }
    }

    #site-search {
        margin: 0px;
    }
</style>