<template>
	<svg class="fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
	     :style="{transform: transform}">
		<path d="M12.95 10.707l.707-.707L8 4.343 6.586 5.757 10.828 10l-4.242 4.243L8 15.657l4.95-4.95z"/>
	</svg>
</template>

<script>
	export default {
		name: "chevron",
		props: {
			direction: {
				type: String,
				required: false,
				default: 'right',
				validate(input) {
					return input === 'right' || input === 'left'
				}
			},
		},
		computed: {
			transform() {
				return this.direction === 'right' ? 'scale(1)' : 'scale(-1)'
			}
		}
	}
</script>

<style scoped>

</style>