<template>
	<main>
		<dmds-section-header :level="1" :header="campus.name + ' Campus'"
		                     tall color="white" background-color="blue-dark" shadow-text
		                     :shadow-text-offset="0" :background="imageURL(campus.image.path)"
		                     :breadcrumbs="[{to:'/department',title:'Department'}, {to:'/department/campuses',title:'Campuses'}]"></dmds-section-header>
		<dmds-section>
			<dmds-hr-header>
				<h2 class="text-2xl">About The Campus</h2>
			</dmds-hr-header>
			<row class="-mx-2">
				<column class="p-2" md="3/4">
					<div v-html="campus.description"></div>
				</column>
				<column class="p-2" md="1/4">
					<dmds-background-image :image="imageURL(campus.about_image.path)">
						<div class="h-64"></div>
					</dmds-background-image>
				</column>
			</row>
		</dmds-section>
		<dmds-section-header :level="3" :header="campus.name + ' Labs'" tall color="white"
		                     background-color="blue-darker" :background="imageURL(campus.labs_image.path)"
		                     :cta="{title:'View Labs', color:'blue', to:'/department/campuses/' + campus.slug + '/labs'}"></dmds-section-header>
		<dmds-section>
			<dmds-hr-header>
				<h2 class="text-2xl">Contact</h2>
			</dmds-hr-header>
			<row class="-mx-2">
				<column class="p-2" md="1/4">
					<dmds-background-image :image="imageURL(campus.contact_image.path)">
						<div class="h-64"></div>
					</dmds-background-image>
				</column>
				<column class="p-2" md="3/4">
					<div v-html="campus.contact_information"></div>
				</column>
			</row>
		</dmds-section>
	</main>
</template>

<script>
	import {Row, Column} from '~/components/grid'
	import {
		DmdsSectionHeader,
		DmdsSection,
		DmdsHrHeader,
		DmdsBackgroundImage,
		DmdsTransitionIn
	} from '~/components/ui'
	import imageURL from '~/mixins/imageURL'

	export default {
		name: "singleCampus",
		mixins: [imageURL],
		components: {
			Row,
			Column,
			DmdsSectionHeader,
			DmdsSection,
			DmdsHrHeader,
			DmdsBackgroundImage,
			DmdsTransitionIn,
		},
		async asyncData({app, params}) {
			const campus = await app.$axios.get(process.env.API_URL + 'channels/campuses/entries?query_key=slug&query_value=' + params.id).then(res => res.data[0])
			return {
				campus: campus
			}
		}
	}
</script>

<style scoped>

</style>