<template>
	<main>
		<dmds-section-header :level="1" header="The Program"
		                     tall color="white" background-color="blue-dark" shadow-text background="/images/program.jpg"
		                     :shadow-text-offset="0" :bottom-nav="bottomNav"></dmds-section-header>
		<dmds-section fade>
			<dmds-hr-header>
				<h2>One Program. Four Degrees. Six Concentrations.</h2>
			</dmds-hr-header>
			<row class="-mx-2">
				<column class="p-2" md="1/2">
					<h3 class="mb-3">Degrees</h3>
					<p class="mb-6">{{degreeDescription}}</p>
					<dmds-button to="/program/degrees">Read More on Degrees</dmds-button>
				</column>
				<column class="p-2" md="1/2">
					<h3 class="mb-3">Concentrations</h3>
					<p class="mb-6">{{concentrationDescription}}</p>
					<dmds-button to="/program/concentrations">Read More on Concentrations</dmds-button>
				</column>
			</row>
		</dmds-section>
		<dmds-section fade class="bg-grey-lightest">
			<dmds-hr-header>
				<h2>Student Involvement</h2>
			</dmds-hr-header>
			<row class="-mx-2">
				<column md="1/3" class="p-2" v-for="(club, index) in clubs" :key="index">
					<dmds-card class="bg-white">
						<dmds-background-image :image="imageURL(club.image.path)" :title="club.title"
						                       color="white">
							<div class="h-64"></div>
						</dmds-background-image>
						<div class="p-6 text-navy-darkest">
							<h2 class="mb-2">{{club.name}}</h2>
							<div class="mb-6" v-html="club.short_description"></div>
							<dmds-button color="blue" :to="'/program/involvement/' + club.slug">
								{{club.name}}
							</dmds-button>
						</div>
					</dmds-card>
				</column>
				<column class="px-2 pt-4 text-center">
					<dmds-button size="lg" color="blue" to="/program/involvement">Discover All Student
						Involvement
					</dmds-button>
				</column>
			</row>
		</dmds-section>
		<dmds-transition-in effect="fade" direction="up">
			<dmds-section-header header="Curriculum"
			                     :cta="{title:'Browse the Course Catalog', color:'blue', to:'/program/curriculum'}"
			                     background="/images/curriculum_bg.jpg" background-color="blue-darker" color="white"
			                     :level="2"></dmds-section-header>
		</dmds-transition-in>
		<dmds-section fade>
			<dmds-hr-header>
				<h2>Opportunities</h2>
			</dmds-hr-header>
			<row class="-mx-2 items-stretch">
				<column md="1/3" class="p-2 flex items-stretch">
					<dmds-card class="bg-grey-lightest p-8 w-full">
						<h2 class="mb-4">Internships</h2>
						<div class="mb-6" v-html="internships.short_description"></div>
						<dmds-button color="blue" to="/program/internships">Internships</dmds-button>
					</dmds-card>
				</column>
				<column md="1/3" class="p-2 flex items-stretch">
					<dmds-card class="bg-grey-lightest p-8 w-full">
						<h2 class="mb-4">Alumni Stories</h2>
						<p class="mb-6">{{ alumniStories.description }}</p>
						<dmds-button color="blue" to="/program/alumni-stories">Alumni Stories</dmds-button>
					</dmds-card>
				</column>
				<column md="1/3" class="p-2 flex items-stretch">
					<dmds-card class="bg-grey-lightest p-8 w-full">
						<h2 class="mb-4">Grants</h2>
						<div class="mb-6" v-html="grants.short_description"></div>
						<dmds-button color="blue" to="/program/grants">Grants</dmds-button>
					</dmds-card>
				</column>
			</row>
		</dmds-section>
	</main>
</template>

<script>
	import * as grid from '~/components/grid'
	import * as ui from '~/components/ui'
	import * as icons from '~/components/icons'
	import imageURL from '~/mixins/imageURL'

	export default {
		name: "index",
		mixins: [imageURL],
		components: {
			...grid,
			...ui,
			...icons,
		},
		async asyncData({app}) {
			let data = await Promise.all([
				app.$axios.get(process.env.API_URL + 'channels/degrees/meta').then(res => res.data.description),
				app.$axios.get(process.env.API_URL + 'channels/concentrations/meta').then(res => res.data.description),
				app.$axios.get(process.env.API_URL + 'channels/involvement/entries?query_key=featured&query_value=1').then(res => res.data),
				app.$axios.get(process.env.API_URL + 'channels/internships/entries').then(res => res.data),
				app.$axios.get(process.env.API_URL + 'channels/alumni-stories/meta').then(res => res.data),
				app.$axios.get(process.env.API_URL + 'channels/grants/entries').then(res => res.data),
			])
			return {
				degreeDescription: data[0],
				concentrationDescription: data[1],
				clubs: data[2],
				internships: data[3],
				alumniStories: data[4],
				grants: data[5],
			}
		},
		data() {
			return {
				bottomNav: [
					{to: '/program/degrees', title: 'Degrees'},
					{to: '/program/concentrations', title: 'Concentrations'},
					{to: '/program/involvement', title: 'Involvement'},
					{to: '/program/curriculum', title: 'Curriculum'},
					{to: '/program/internships', title: 'Internships'},
					{to: '/program/alumni-stories', title: 'Alumni Stories'},
					{to: '/program/grants', title: 'Grants'},
				],
			}
		},
	}
</script>

<style scoped>

</style>