<template>
	<main>
		<dmds-section-header :level="1" :header="title"
		                     color="white" shadow-text
		                     :shadow-text-offset="0" background="/images/program.jpg"
		                     :breadcrumbs="[{to: '/program', title: 'Program'}]"
		                     :bottom-nav="bottomNav"></dmds-section-header>
		<dmds-section>
			<dmds-transition-in effect="fade" mode="autoplay" direction="up">
				<div v-html="body"></div>
			</dmds-transition-in>
		</dmds-section>
	</main>
</template>

<script>
	import * as grid from '~/components/grid'
	import * as ui from '~/components/ui'
	import imageURL from '~/mixins/imageURL'

	export default {
		name: "internships",
		mixins: [imageURL],
		components: {
			...grid,
			...ui,
		},
		async asyncData({app}) {
			let pageData = await
				app.$axios.get(process.env.API_URL + 'channels/internships/entries').then(res => res.data)
			return {...pageData}
		},
		data() {
			return {
				bottomNav: [
					{to: '/program/degrees', title: 'Degrees'},
					{to: '/program/concentrations', title: 'Concentrations'},
					{to: '/program/involvement', title: 'Involvement'},
					{to: '/program/curriculum', title: 'Curriculum'},
					{to: '/program/internships', title: 'Internships', active: true},
					{to: '/program/alumni-stories', title: 'Alumni Stories'},
					{to: '/program/grants', title: 'Grants'},
				],
			}
		},
	}
</script>

<style scoped>

</style>