<template>
	<main>
		<dmds-section-header :level="1" header="Curriculum"
		                     color="white" shadow-text
		                     :shadow-text-offset="0" background="/images/program.jpg"
		                     :breadcrumbs="[{to: '/program', title: 'Program'}]"
		                     :bottom-nav="bottomNav"></dmds-section-header>
		<dmds-section>
			<row class="-mx-4">
				<column class="px-4 hidden md:block" md="1/4">
					<sticky-box>
						<h3 class="mb-2" style="text-transform:uppercase">Courses By Concentration</h3>
						<nav>
							<ul class="list-reset">
								<li class="py-2 text-black">
									<a size="md" v-smooth-scroll="{ duration: 900, offset: -100 }"
									   href="#foundation"
									   class="text-black no-underline hover:text-blue">Foundation Curriculum</a>
								</li>
								<li class="py-2 text-black" v-for="(concentration, index) in concentrations"
								    :key="index">
									<a size="md" v-smooth-scroll="{ duration: 900, offset: -100 }"
									   :href="'#concentration-' + concentration.slug"
									   class="text-black no-underline hover:text-blue">{{concentration.name}}</a>
								</li>
							</ul>
						</nav>
					</sticky-box>
				</column>
				<column class="px-4" md="3/4">
					<dmds-section topless>
						<dmds-transition-in mode="scroll" effect="fade" direction="up" :duration="0.5">
							<dmds-hr-header>
								<h2 class="text-2xl" id="foundation">Foundation Curriculum</h2>
							</dmds-hr-header>
							<row class="-mx-2 items-stretch">
								<column class="p-2 flex items-stretch" lg="1/2"
								        v-for="(course, index) in curriculum"
								        v-if="course.concentration == null" :key="index">
									<dmds-card class="bg-grey-lightest p-2 md:p-4 w-full">
										<h3 class="mb-3 text-2xl">{{course.name}}</h3>
										<h4 class="mb-4"><em>DMD {{course.number}}, {{course.credits}}
											credits</em></h4>
										<div v-html="course.description" class="text-black"></div>
									</dmds-card>
								</column>
							</row>
						</dmds-transition-in>
					</dmds-section>
					<dmds-section v-for="(concentration, index) in concentrations" :key="index">
						<dmds-transition-in mode="scroll" effect="fade" direction="up" :duration="0.5">
							<dmds-hr-header>
								<h2 class="text-2xl" :id="'concentration-' + concentration.slug">
									{{concentration.name}}</h2>
							</dmds-hr-header>
							<row class="-mx-2 items-stretch">
								<column class="p-2 flex items-stretch" lg="1/2"
								        v-for="(course, index) in curriculum"
								        v-if="course.concentration && course.concentration.id == concentration.id"
								        :key="index">
									<dmds-card class="bg-grey-lightest p-2 md:p-4 w-full">
										<h3 class="mb-3 text-2xl">{{course.name}}</h3>
										<h4 class="mb-4"><em>DMD {{course.number}}, {{course.credits}}
											credits</em></h4>
										<div v-html="course.description" class="text-black"></div>
									</dmds-card>
								</column>
							</row>
						</dmds-transition-in>
					</dmds-section>
				</column>
			</row>
		</dmds-section>
	</main>
</template>

<script>
	import * as grid from '~/components/grid'
	import * as ui from '~/components/ui'
	import * as icons from '~/components/icons'
	import {StickyBox} from '~/components/layout'

	export default {
		name: "curriculum",
		components: {
			...grid,
			...ui,
			...icons,
			StickyBox,
		},
		async asyncData({app}) {
			let concentrations = await app.$axios.get(process.env.API_URL + 'channels/concentrations/entries').then(res => res.data)
			let curriculum = await app.$axios.get(process.env.API_URL + 'channels/curriculum/entries?order_by=number').then(res => res.data)
			return {
				concentrations: concentrations,
				curriculum: curriculum,
			}
		},
		data() {
			return {
				bottomNav: [
					{to: '/program/degrees', title: 'Degrees'},
					{to: '/program/concentrations', title: 'Concentrations'},
					{to: '/program/involvement', title: 'Involvement'},
					{to: '/program/curriculum', title: 'Curriculum', active: true},
					{to: '/program/internships', title: 'Internships'},
					{to: '/program/alumni-stories', title: 'Alumni Stories'},
					{to: '/program/grants', title: 'Grants'},
				],
			}
		},
	}
</script>

<style scoped>

</style>