<template>
	<footer class="bg-grey-lighter py-4 md:py-8 lg:py-16 relative z-50 text-grey-dark">
		<container class="px-4">
			<row class="-mx-2">
				<column class="px-2" sm="1/2" md="1/5">
					<nuxt-link to="/program"
					           class="uppercase text-black font-bold block no-underline text-lg mb-4 hover:text-blue">
						Program
					</nuxt-link>
					<ul class="list-reset">
						<li class="mb-3">
							<nuxt-link to="/program/degrees" class="hover:text-blue">Degrees</nuxt-link>
						</li>
						<li class="mb-3">
							<nuxt-link to="/program/concentrations" class="hover:text-blue">Concentrations</nuxt-link>
						</li>
						<li class="mb-3">
							<nuxt-link to="/program/involvement" class="hover:text-blue">Involvement</nuxt-link>
						</li>
						<li class="mb-3">
							<nuxt-link to="/program/curriculum" class="hover:text-blue">Curriculum</nuxt-link>
						</li>
						<li class="mb-3">
							<nuxt-link to="/program/internships" class="hover:text-blue">Internships</nuxt-link>
						</li>
						<li class="mb-3">
							<nuxt-link to="/program/grants" class="hover:text-blue">Grants</nuxt-link>
						</li>
						<li class="mb-3">
							<nuxt-link to="/program/alumni-stories" class="hover:text-blue">Alumni Stories</nuxt-link>
						</li>
					</ul>
				</column>
				<column class="px-2" sm="1/2" md="1/5">
					<nuxt-link to="/department"
					           class="uppercase text-black font-bold block no-underline text-lg mb-4 hover:text-blue">
						Department
					</nuxt-link>
					<ul class="list-reset mb-6">
						<li class="mb-3">
							<nuxt-link to="/department/campuses" class="hover:text-blue">Campuses</nuxt-link>
						</li>
						<li class="mb-3">
							<nuxt-link to="/department/faculty" class="hover:text-blue">Faculty</nuxt-link>
						</li>
						<li class="mb-3">
							<nuxt-link to="/department/outreach" class="hover:text-blue">Outreach</nuxt-link>
						</li>
						<li class="mb-3">
							<nuxt-link to="/department/research" class="hover:text-blue">Research</nuxt-link>
						</li>
					</ul>
					<nuxt-link to="/work"
					           class="uppercase text-black font-bold block no-underline text-lg mb-4 hover:text-blue">
						Student Work
					</nuxt-link>
					<nuxt-link to="/news"
					           class="uppercase text-black font-bold block no-underline text-lg mb-4 hover:text-blue">
						News
					</nuxt-link>
				</column>
				<column class="px-2" md="1/5">
					<nuxt-link to="/apply"
					           class="uppercase text-black font-bold block no-underline text-lg mb-4 hover:text-blue">
						Apply
					</nuxt-link>
					<ul class="list-reset">
						<li class="mb-3">
							<nuxt-link to="/apply" class="hover:text-blue">Undergraduate</nuxt-link>
						</li>
						<li class="mb-3">
							<nuxt-link to="/apply/graduate" class="hover:text-blue">Graduate</nuxt-link>
						</li>
						<li class="mb-3">
							<nuxt-link to="/apply/transfer" class="hover:text-blue">Transfer</nuxt-link>
						</li>
					</ul>
				</column>
				<column class="px-2" md="2/5">
					<!--<h5 class="uppercase text-black no-underline text-lg mb-4">-->
						<!--Subscribe to Our Newsletter-->
					<!--</h5>-->
					<!--<p class="mb-3">The Latest DMD news, articles, events, and student work sent straight to your inbox-->
						<!--every month.</p>-->
					<!--<form @submit.prevent="collectEmail" class="mb-4 flex">-->
						<!--<input class="appearance-none border border-grey-dark rounded-l w-full py-2 px-3 text-grey-darker"-->
						       <!--id="email" type="email" placeholder="Your Email">-->
						<!--<button type="submit" class="appearance-none rounded-r py-2 px-3 text-white bg-blue">Submit-->
						<!--</button>-->
					<!--</form>-->
					<nuxt-link to="/contact"
					           class="uppercase text-black font-bold block no-underline text-lg mb-4 hover:text-blue">
						Contact
					</nuxt-link>
					<ul class="list-reset">
						<li class="mb-3">
							<a href="https://www.facebook.com/UConnDMD/" class="hover:text-blue">Facebook</a>
						</li>
						<li class="mb-3">
							<a href="https://twitter.com/uconndmd" class="hover:text-blue">Twitter</a>
						</li>
						<li class="mb-3">
							<a href="https://www.instagram.com/uconndmd/" class="hover:text-blue">Instagram</a>
						</li>
						<li class="mb-4">
							<a href="https://www.youtube.com/user/UConnDMD" class="hover:text-blue">YouTube</a>
						</li>
					</ul>
				</column>
			</row>
		</container>
	</footer>
</template>

<script>
	import * as grid from '~/components/grid'

	export default {
		name: "DmdFooter",
		components: {
			...grid,
		},
		methods: {
			collectEmail() {

			}
		}
	}
</script>

<style scoped>

</style>