<template>
	<div class="sticky-box">
		<slot></slot>
	</div>
</template>

<script>
	import tailwind from '~/tailwind.js'

	export default {
		name: "StickyBox",
		data() {
			return {
				raf: null,
				topBreakpoint: 0,
				state: 'static',
				rect: null,
			}
		},
		methods: {
			resize() {
				this.rect = this.$el.querySelector('.probe').getBoundingClientRect()
				this.topBreakpoint = this.rect.top + window.pageYOffset - 146;

				this.$el.querySelector('*:nth-child(2)').style.maxWidth = this.rect.width + 'px'
				this.$el.querySelector('*:nth-child(2)').style.width = this.rect.width + 'px'

				if (window.innerWidth < tailwind.screensRaw['md']) {
					this.$el.style.display = 'none'
				} else {
					this.$el.style.display = 'block'
				}
			},
			update() {
				this.raf = window.requestAnimationFrame(this.update.bind(this))
				if (this.state === 'static') {
					if (window.pageYOffset > this.topBreakpoint) {
						this.state = 'fixed'
						this.$el.style.position = 'fixed'
						this.$el.style.top = '146px'
					}
				} else {
					if (window.pageYOffset < this.topBreakpoint) {
						this.state = 'static'
						this.$el.style.position = 'static'
						this.$el.style.top = ''
					}
				}
			}
		},
		mounted() {
			// this.resize()
			// this.raf = window.requestAnimationFrame(this.update.bind(this))
			// window.addEventListener('resize', this.resize, false)
		},
		beforeDestroy() {
			// window.cancelAnimationFrame(this.raf)
			// window.removeEventListener('resize', this.resize, false)
		}
	}
</script>

<style scoped>
	.sticky-box {
		position:sticky;
		top: 150px;
	}
</style>