<template>
	<footer class="bg-black relative z-50">
		<container>
			<nav>
				<ul class="list-reset flex flex-col md:flex-row p-2 md:p-0">
					<li class="p-2 md:p-4">
						<a class="text-white no-underline hover:underline" href="https://uconn.edu">&copy;
							University of Connecticut
						</a>
					</li>
					<li class="p-2 md:p-4">
						<a class="text-white no-underline hover:underline"
						   href="https://uconn.edu/disclaimers-privacy-copyright/">Disclaimers,
							Privacy and Copyright
						</a>
					</li>
					<li class="p-2 md:p-4">
						<nuxt-link class="text-white no-underline hover:underline"
						           to="/contact">Contact
						</nuxt-link>
					</li>
				</ul>
			</nav>
		</container>
	</footer>
</template>

<script>
	import {Container} from '~/components/grid'

	export default {
		name: "UconnFooter",
		components: {
			Container
		}
	}
</script>

<style scoped>

</style>