<template>
	<main>
		<dmds-section-header :level="1" :header="club.name" color="white" shadow-text :shadow-text-offset="0"
		                     :background="imageURL(club.banner_image.path)"
		                     :breadcrumbs="[{to: '/program', title: 'Program'}, {to: '/program/involvement', title: 'Involvement'}]"></dmds-section-header>
		<dmds-section>
			<row class="-mx-2">
				<column md="2/3" class="p-2">
					<dmds-transition-in effect="fade" direction="up" :duration="0.5" mode="autoplay">
						<dmds-hr-header class="mb-4">
							<h2 class="text-2xl">About</h2>
						</dmds-hr-header>
						<div v-html="club.description"></div>
					</dmds-transition-in>
				</column>
				<column md="1/3" class="p-2">
					<dmds-transition-in effect="wipe" direction="down" :duration="0.75" mode="autoplay" :delay="0.25"
					                    wipe-color="blue">
						<dmds-background-image :image="imageURL(club.image.path)">
							<div class="h-64"></div>
						</dmds-background-image>
					</dmds-transition-in>
				</column>
			</row>
		</dmds-section>
	</main>
</template>

<script>
	import * as grid from '~/components/grid'
	import * as ui from '~/components/ui'
	import * as icons from '~/components/icons'
	import * as program from '~/components/program'
	import imageURL from "~/mixins/imageURL";

	export default {
		name: "single-involvement",
		mixins: [imageURL],
		async asyncData({app, params}) {
			let club = await app.$axios.get(process.env.API_URL + 'channels/involvement/entries?query_key=slug&query_value=' + params.id).then(res => res.data[0])
			return {
				club: club
			}
		},
		components: {
			...grid,
			...ui,
			...icons,
			...program,
		},
	}
</script>

<style scoped>

</style>