<template>
	<main>
		<header class="x-header">
			<svg viewBox="0 0 1000 1000"
			     :style="{'fill-rule':'evenodd','clip-rule':'evenodd','stroke-linejoin':'round','stroke-miterlimit':1.41421, width:xSize + 'px', height: xSize + 'px'}"
			     ref="x">
				<path d="M646.263,485.231L1000,0L1000,999.968L744.606,1000L999.968,999.968L646.263,485.231ZM0.032,999.968L0,0L353.737,486.786L0,1000L253.929,1000L500,639.135L744.606,1000L0.032,999.968ZM268.307,0L731.693,0L500,335.991L268.307,0Z"
				      style="fill:white;"/>
			</svg>
			<div class="absolute flex justify-end items-end"
			     :style="{top:'50%',left:'50%',transform:'translate(-50%,-50%)',width:aWidth,height:aHeight}">
				<h1 ref="agency">Agency <span class="text-red">X</span></h1>
			</div>
		</header>
		<div style="height:120vh;"></div>
		<dmds-section>
			<h2 class="py-4 md:py-8 text-4xl md:text-5xl">Who We <span class="text-red">Are</span></h2>
			<row class="-mx-2 py-4 md:py-8 relative z-10">
				<column class="p-2" md="1/2">
					<p class="text-lg md:text-xl mb-6">The AgencyX team is composed of a group of hand-picked, highly
						accomplished, upper level students who are passionate about digital and social media
						marketing.</p>
					<p class="text-lg md:text-xl">The agency combines the best students from the Stamford and Storrs
						campuses, charging them with the task of running the UConn DMD advertising and marketing
						campaigns that speak to prospective and incoming freshmen students. </p>
				</column>
				<column class="p-2" md="1/2">
					<dmds-parallax :amount="40" :offset="-10" :dampening="0.9" class="relative z-n1 opacity-75">
						<dmds-background-image image="/images/agency-x/hunter-ronin.jpg">
							<div class="h-64"></div>
						</dmds-background-image>
					</dmds-parallax>
				</column>
			</row>
		</dmds-section>
		<dmds-section>
			<h2 class="py-4 md:py-8 text-4xl md:text-5xl md:text-right">What We <span class="text-red">Do</span></h2>
			<row class="-mx-2 py-4 md:py-8 relative z-10 flex-row-reverse">
				<column class="p-2" md="1/2">
					<p class="text-lg md:text-xl mb-6">In their role as DMD’s agency of record, they deal with real life
						budgets, social media streams, tight deadlines, the development of strategies and tactics, and
						the development and production of high-quality digital content representing a student’s journey
						through the DMD program. They then follow with SEO (search engine optimization) to fine-tune our
						web and social media presence and messaging. </p>
				</column>
				<column class="p-2" md="1/2">
					<dmds-parallax :amount="40" :offset="-10" :dampening="0.9" class="relative z-n1 opacity-75">
						<dmds-background-image image="/images/agency-x/bk-joel-tim.jpg">
							<div class="h-64"></div>
						</dmds-background-image>
					</dmds-parallax>
				</column>
			</row>
		</dmds-section>
		<dmds-section>
			<h2 class="py-4 md:py-8 text-4xl md:text-5xl">Our <span class="text-red">Work</span></h2>
			<row class="-mx-2 py-4 md:py-8">
				<column class="p-2" md="1/2">
					<div class="video-container">
						<iframe class="w-full h-full" src="https://www.youtube-nocookie.com/embed/Ww8rB55mtaI?rel=0"
						        frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
					</div>
				</column>
				<column class="p-2" md="1/2">
					<div class="video-container">
						<iframe class="w-full h-full" src="https://www.youtube-nocookie.com/embed/mvpOr_ABoxE?rel=0"
						        frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
					</div>
				</column>
				<column class="p-2" md="1/2">
					<div class="video-container">
						<iframe class="w-full h-full" src="https://www.youtube-nocookie.com/embed/mFTlaV7ccOs?rel=0"
						        frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
					</div>
				</column>
				<column class="p-2" md="1/2">
					<div class="video-container">
						<iframe class="w-full h-full" src="https://www.youtube-nocookie.com/embed/-K4Bj0ErSTM?rel=0"
						        frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
					</div>
				</column>
			</row>
		</dmds-section>
	</main>
</template>

<script>
	import {Row, Column} from '~/components/grid'
	import {DmdsSection, DmdsParallax, DmdsBackgroundImage} from '~/components/ui'
	import {TweenMax} from 'gsap'
	import ModifiersPlugin from 'gsap/ModifiersPlugin'

	export default {
		name: "agencyx",
		components: {
			Row,
			Column,
			DmdsSection,
			DmdsParallax,
			DmdsBackgroundImage,
		},
		data() {
			return {
				raf: null,
				xProgress: 0,
				xSize: '',
				aWidth: '',
				aHeight: '',
				wHeight: 0,
			}
		},
		methods: {
			resize() {
				const wHeight = window.innerHeight

				const x = Math.max(wHeight - 75, window.innerWidth)
				this.xSize = x

				this.aWidth = (x * 0.49 + 60).toString() + 'px'
				this.aHeight = Math.min(x * 0.54, (wHeight - 75) * 0.9).toString() + 'px'

				// store inverse as division is more expensive to calculate than multiplication
				this.wHeight = 1 / wHeight
			},
			update() {
				this.raf = window.requestAnimationFrame(this.update.bind(this))

				let xProgress = window.pageYOffset * this.wHeight
				if (xProgress < 0) {
					xProgress = 0
				} else if (xProgress > 1) {
					xProgress = 1
				}

				this.xProgress = xProgress

			},
		},
		mounted() {
			window.addEventListener('resize', this.resize, false)
			this.resize()

			TweenMax.to(this.$refs.x, 10, {
				x: 0,
				y: 0,
				scaleX: 0,
				scaleY: 0,
				repeat: -1,
				modifiers: {
					scaleX: () => {
						return 1 + this.xProgress * 4
					},
					scaleY: () => {
						return 1 + this.xProgress * 4
					},
					x: () => {
						return this.xSize * -0.5
					},
					y: () => {
						return this.xSize * -0.5
					}
				}
			})

			TweenMax.to(this.$refs.agency, 10, {
				opacity: 0,
				repeat: -1,
				modifiers: {
					opacity: () => {
						return Math.max(1 - this.xProgress * 2, 0)
					}
				}
			})

			this.raf = window.requestAnimationFrame(this.update.bind(this))
		},
		beforeDestroy() {
			window.removeEventListener('resize', this.resize, false)
			window.cancelAnimationFrame(this.raf)
		}
	}
</script>

<style scoped>
	main {
		background-color: black;
		color: white;
	}

	.text-red {
		color: red;
	}

	.x-header {
		position: fixed;
		z-index: 100;
		top: 75px;
		left: 0;
		width: 100%;
		pointer-events: none;
		height: calc(100vh - 75px);
	}

	.x-header svg {
		position: absolute;
		top: 50%;
		left: 50%;
		/*transform: translate3d(-50%, -50%, 0px) scale(1);*/
		z-index: 1;
		will-change: transform;
	}

	.x-header h1 {
		color: white;
		text-transform: uppercase;
		font-weight: lighter;
		font-size: 3vmax;
		will-change: opacity;
	}

	.video-container {
		display: block;
		position: relative;
		width: 100%;
		height: 0;
		padding-top: 35px;
		padding-bottom: 56%;
		overflow: hidden;
	}

	.video-container iframe {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
	}

</style>