<template>
	<main>
		<dmds-section-header :level="1" header="Involvement" color="white" shadow-text
		                     :shadow-text-offset="0" background="/images/program.jpg"
		                     :breadcrumbs="[{to: '/program', title: 'Program'}]"
		                     :bottom-nav="bottomNav"></dmds-section-header>
		<dmds-section>
			<row class="-mx-4">
				<column class="hidden md:block px-4" md="1/4">
					<sticky-box>
						<h3 class="mb-2" style="text-transform:uppercase">Student Clubs</h3>
						<nav>
							<ul class="list-reset">
								<li v-for="(club, index) in clubs" :key="index"
								    class="py-2">
									<a size="md" v-smooth-scroll="{ duration: 900, offset: -100 }"
									   :href="'#club-' + club.slug"
									   class="text-black no-underline hover:text-blue">{{club.name}}</a>
								</li>
							</ul>
						</nav>
					</sticky-box>
				</column>
				<column md="3/4" class="px-4">
					<club-container v-for="(club, index) in clubs" :key="index" :id="'club-' + club.slug" :club="club"
					                :index="index">
					</club-container>
				</column>
			</row>
		</dmds-section>
	</main>
</template>

<script>
	import * as grid from '~/components/grid'
	import * as ui from '~/components/ui'
	import * as icons from '~/components/icons'
	import * as program from '~/components/program'
	import {StickyBox} from '~/components/layout'

	export default {
		name: "involvement",
		async asyncData({app}) {
			let clubs = await app.$axios.get(process.env.API_URL + 'channels/involvement/entries').then(res => res.data)
			return {
				clubs: clubs
			}
		},
		components: {
			...grid,
			...ui,
			...icons,
			...program,
			StickyBox,
		},
		data() {
			return {
				bottomNav: [
					{to: '/program/degrees', title: 'Degrees'},
					{to: '/program/concentrations', title: 'Concentrations'},
					{to: '/program/involvement', title: 'Involvement', active: true},
					{to: '/program/curriculum', title: 'Curriculum'},
					{to: '/program/internships', title: 'Internships'},
					{to: '/program/alumni-stories', title: 'Alumni Stories'},
					{to: '/program/grants', title: 'Grants'},
				],
			}
		},
	}
</script>

<style scoped>
	.club:first-child {
		padding-top: 0;
		margin-top: 0;
	}
</style>