<template>
	<article class="lab py-2 sm:py-4 md:py-8 lg:my-8">
		<dmds-transition-in effect="fade" mode="manual" :direction="index % 2 === 0 ? 'left':'right'" ref="name"
		                    :duration="0.5">
			<dmds-hr-header :side="index % 2 === 0 ? 'left' : 'right'" class="mb-4">
				<h2 class="text-2xl sm:text-4xl md:text-5xl">{{lab.name}}</h2>
			</dmds-hr-header>
		</dmds-transition-in>
		<row class="-mx-2" :class="[index % 2 === 0 ? 'md:flex-row-reverse' : '']">
			<column md="1/3" class="p-2">
				<dmds-transition-in effect="wipe" mode="manual" :duration="0.75" direction="down" wipe-color="blue"
				                    :delay="0" ref="image">
					<dmds-background-image :image="imageURL(lab.image_1.path)" color="white">
						<div class="h-64"></div>
					</dmds-background-image>
				</dmds-transition-in>
			</column>
			<column class="p-2" md="2/3">
				<dmds-transition-in effect="fade" mode="manual" direction="up" ref="description" :duration="0.5">
					<div>
						<div class="mb-6" v-html="lab.description"></div>
						<dmds-button color="blue" size="lg"
						             :to="'/department/campuses/' + lab.campus.slug + '/labs/' + lab.slug"
						             class="mr-2 mb-2">Learn More
						</dmds-button>
					</div>
				</dmds-transition-in>
			</column>
		</row>
	</article>
</template>

<script>
	import {Row, Column} from '../grid'
	import {DmdsTransitionIn, DmdsBackgroundImage, DmdsHrHeader, DmdsButton} from '../ui'
	import ScrollEvents from '~/mixins/scrollEvents'

	export default {
		name: "LabContainer",
		mixins: [ScrollEvents],
		components: {
			Row,
			Column,
			DmdsTransitionIn,
			DmdsBackgroundImage,
			DmdsHrHeader,
			DmdsButton
		},
		props: {
			lab: {
				type: Object,
				required: true,
			},
			index: {
				type: Number,
				required: true,
			}
		},
		methods: {
			imageURL(path) {
				return process.env.SERVER_URL + path
			},
			se_fire() {
				this.$refs.name.play()
				setTimeout(() => {
					this.$refs.image.play()
				}, 150)
				setTimeout(() => {
					this.$refs.description.play()
				}, 300)
			}
		},
		mounted() {
			this.se_init()
		},
		beforeDestroy() {
			this.se_destroy()
		}
	}
</script>