<template>
	<main>
		<dmds-section-header :level="1" :header="lab.name"
		                     tall color="white" background-color="blue-dark" shadow-text
		                     :shadow-text-offset="0" :background="imageURL(lab.image_1.path)"
		                     :breadcrumbs="[{to:'/department',title:'Department'}, {to:'/department/campuses',title:'Campuses'},{to:'/department/campuses/'+campus.slug, title: campus.name},{to:'/department/campuses/'+lab.campus.slug+'/labs',title: 'Labs'}]"></dmds-section-header>
		<dmds-section fade>
			<dmds-hr-header>
				<h2 class="text-2xl">About</h2>
			</dmds-hr-header>
			<row class="-mx-2">
				<column class="p-2" md="3/4">
					<p class="mb-4">Location: {{lab.location}}</p>
					<div v-html="lab.description"></div>
				</column>
				<column class="p-2" md="1/4">
					<dmds-background-image :image="imageURL(lab.image_2.path)">
						<div class="h-64"></div>
					</dmds-background-image>
				</column>
			</row>
		</dmds-section>
	</main>
</template>

<script>
	import {Row, Column} from '~/components/grid'
	import {
		DmdsSectionHeader,
		DmdsSection,
		DmdsHrHeader,
		DmdsBackgroundImage,
	} from '~/components/ui'
	import {LabContainer} from '~/components/department'
	import {StickyBox} from '~/components/layout'
	import imageURL from '~/mixins/imageURL'

	export default {
		name: "singleLab",
		mixins: [imageURL],
		components: {
			Row,
			Column,
			DmdsSection,
			DmdsSectionHeader,
			DmdsHrHeader,
			DmdsBackgroundImage,
		},
		async asyncData({app, params}) {
			const campus = await app.$axios.get(process.env.API_URL + 'channels/campuses/entries?query_key=slug&query_value=' + params.id).then(res => res.data[0])
			const lab = await app.$axios.get(process.env.API_URL + 'channels/labs/entries?query_key=slug,campus_id&query_value=' + params.lab + ',' + campus.id).then(res => res.data[0])
			return {
				campus: campus,
				lab: lab
			}
		},
	}
</script>

<style scoped>

</style>