<template>
	<main>
		<dmds-section-header :level="1" :header="campus.name + ' Labs'"
		                     tall color="white" background-color="blue-dark" shadow-text
		                     :shadow-text-offset="0" :background="imageURL(campus.labs_image.path)"
		                     :breadcrumbs="[{to:'/department',title:'Department'}, {to:'/department/campuses',title:'Campuses'},{to:'/department/campuses/'+campus.slug, title: campus.name}]"></dmds-section-header>
		<dmds-section>
			<row class="-mx-4">
				<column class="hidden md:block px-4" md="1/4">
					<sticky-box>
						<div class="">
							<h3 class="mb-2" style="text-transform:uppercase;">Labs</h3>
							<nav>
								<ul class="list-reset">
									<li v-for="(lab, index) in labs" :key="index"
									    class="py-2 text-black">
										<a size="md" v-smooth-scroll="{ duration: 900, offset: -100 }"
										   :href="'#lab-' + lab.slug"
										   class="text-black no-underline hover:text-blue">{{lab.name}}</a>
									</li>
								</ul>
							</nav>
						</div>
					</sticky-box>
				</column>
				<column md="3/4" class="px-4">
					<lab-container v-for="(lab, index) in labs" :key="index"
					               :id="'lab-' + lab.slug"
					               :lab="lab" :index="index">
					</lab-container>
				</column>
			</row>
		</dmds-section>
	</main>
</template>

<script>
	import {Row, Column} from '~/components/grid'
	import {
		DmdsSectionHeader,
		DmdsSection,
		DmdsHrHeader,
		DmdsCard,
		DmdsBackgroundImage,
		DmdsTransitionIn,
	} from '~/components/ui'
	import {LabContainer} from '~/components/department'
	import {StickyBox} from '~/components/layout'
	import imageURL from '~/mixins/imageURL'

	export default {
		name: "allLabs",
		mixins: [imageURL],
		components: {
			Row,
			Column,
			DmdsSectionHeader,
			DmdsSection,
			DmdsHrHeader,
			DmdsCard,
			DmdsBackgroundImage,
			DmdsTransitionIn,
			LabContainer,
			StickyBox,
		},
		async asyncData({app, params}) {
			const campus = await app.$axios.get(process.env.API_URL + 'channels/campuses/entries?query_key=slug&query_value=' + params.id).then(res => res.data[0])
			const labs = await app.$axios.get(process.env.API_URL + 'channels/labs/entries?query_key=campus_id&query_value=' + campus.id).then(res => res.data)
			return {
				campus: campus,
				labs: labs
			}
		}
	}
</script>

<style scoped>
	.lab:first-child {
		padding-top: 0;
		margin-top: 0;
	}
</style>