<template>
	<main>
		<dmds-section-header :level="1" :header="alumniStory.title" :sub-title="alumniStory.subtitle" color="white"
		                     :background="alumniStory.image ? imageURL(alumniStory.image.path) : null"
		                     background-color="blue-dark" shadow-text :shadow-text-offset="0"
		                     :breadcrumbs="[{to:'/program',title:'Program'},{to:'/program/alumni-stories',title:'Alumni Stories'}]"></dmds-section-header>
		<dmds-section>
			<div v-html="alumniStory.body"></div>
		</dmds-section>
	</main>
</template>

<script>
	import * as grid from '~/components/grid'
	import * as ui from '~/components/ui'
	import imageURL from '~/mixins/imageURL'

	export default {
		name: "singleAlumniStory",
		mixins: [imageURL],
		async asyncData({app, params}) {
			let alumniStory = await app.$axios.get(process.env.API_URL + 'channels/alumni-stories/entries?query_key=slug&query_value=' + params.id).then(res => res.data[0])
			return {
				alumniStory: alumniStory,
			}
		},
		components: {
			...grid,
			...ui,
		},
	}
</script>

<style scoped>

</style>