<template>
	<main>
		<dmds-section-header :level="1" header="Alumni Stories" color="white"
		                     background-color="blue-dark" shadow-text :shadow-text-offset="0"
		                     :breadcrumbs="[{to:'/program',title:'Program'}]" :bottom-nav="bottomNav"
		                     background="/images/program.jpg"></dmds-section-header>
		<dmds-section>
			<row class="-mx-4">
				<column class="hidden md:block px-4" md="1/4">
					<sticky-box>
						<h3 class="mb-2" style="text-transform:uppercase;">Alumni Stories</h3>
						<nav>
							<ul class="list-reset">
								<li v-for="(story, index) in alumniStories" :key="index"
								    class="py-2 text-black">
									<a size="md" v-smooth-scroll="{ duration: 900, offset: -100 }"
									   :href="'#story-' + story.slug"
									   class="text-black no-underline hover:text-blue">{{story.title}}</a>
								</li>
							</ul>
						</nav>
					</sticky-box>
				</column>
				<column md="3/4" class="px-4">
					<dmds-transition-in effect="fade" mode="scroll" direction="up"
					                    v-for="(story, index) in alumniStories" :key="index">
						<dmds-card class="p-6">
							<h3 class="mb-4">{{ story.title }}</h3>
							<div class="mb-6" v-html="story.body"></div>
							<dmds-button :to="'/program/alumni-stories/' + story.slug">Read More</dmds-button>
						</dmds-card>
					</dmds-transition-in>
				</column>
			</row>
		</dmds-section>
	</main>
</template>

<script>
	import * as grid from '~/components/grid'
	import * as ui from '~/components/ui'
	import {StickyBox} from '~/components/layout'
	import imageURL from '~/mixins/imageURL'

	export default {
		name: "alumni-stories",
		mixins: [imageURL],
		components: {
			...grid,
			...ui,
			StickyBox,
		},
		async asyncData({app}) {
			let alumniStories = await app.$axios.get(process.env.API_URL + 'channels/alumni-stories/entries').then(res => res.data)
			return {
				alumniStories: alumniStories
			}
		},
		data() {
			return {
				bottomNav: [
					{to: '/program/degrees', title: 'Degrees'},
					{to: '/program/concentrations', title: 'Concentrations'},
					{to: '/program/involvement', title: 'Involvement'},
					{to: '/program/curriculum', title: 'Curriculum'},
					{to: '/program/internships', title: 'Internships'},
					{to: '/program/alumni-stories', title: 'Alumni Stories', active: true},
					{to: '/program/grants', title: 'Grants'},
				],
			}
		},
	}
</script>

<style scoped>

</style>
