<template>
	<div :class="containerClass">
		<nuxt-link :to="to" :class="bodyClass"
		           role="alert">
			<span :class="badgeClass" v-if="badge !== ''">{{badge}}</span>
			<span class="font-semibold mr-2 text-left flex-auto">
				<slot></slot>
			</span>
			<span class="alert-icon">
			<slot name="icon"></slot>
			</span>
		</nuxt-link>
	</div>
</template>

<script>
	export default {
		name: "dmds-alert",
		props: {
			badge: {
				type: String,
				required: false,
				default: '',
			},
			color: {
				type: String,
				required: false,
				default: 'blue'
			},
			to: {
				type: String,
				required: false,
				default: '#',
			}
		},
		computed: {
			containerClass() {
				return `text-right md:py-4 md:px-4 decoration-none `
			},
			bodyClass() {
				return `dmds-alert-body p-3 py-6 md:py-3 bg-white items-center leading-none no-underline flex md:inline-flex hover:bg-white text-${this.color}-darker`
			},
			badgeClass() {
				return `flex rounded-full uppercase px-2 py-1 text-xs font-bold text-center mr-3 bg-${this.color} text-white`
			}
		}
	}
</script>

<style scoped>
	.dmds-alert-body .alert-icon {
		transform: translateX(0%);
		transition: transform 0.15s ease;
	}

	.dmds-alert-body:hover .alert-icon {
		transform: translateX(10%);
	}
</style>