<template>
	<div :class="['parallax', this.axis]">
		<slot></slot>
	</div>
</template>

<script>
	export default {
		name: "DmdsParallax",
		props: {
			amount: {
				type: Number,
				required: true,
			},
			axis: {
				type: String,
				required: false,
				default: 'y',
				validate(input) {
					return ['x', 'y', 'z'].includes(input)
				}
			},
			offset: {
				type: Number,
				required: false,
				default: 0,
			},
			units: {
				type: String,
				required: false,
				default: '%',
				validate(input) {
					return ['%', 'px', 'em', 'rem', 'vw', 'vh', 'vmin', 'vmax'].includes(input)
				}
			},
			dampening: {
				type: Number,
				required: false,
				default: 0,
				validate(input) {
					return input >= 0 && input < 1
				}
			}
		},
		data() {
			return {
				raf: null,
				target: 0,
				progress: 0,
				start: 0,
				duration: 0,
			}
		},
		methods: {
			resize() {
				const windowHeight = window.innerHeight // store as we access twice
				const rect = this.$el.getBoundingClientRect()
				this.start = window.pageYOffset + rect.top - windowHeight
				this.duration = window.pageYOffset + rect.top + rect.height + windowHeight - this.start
			},
			update() {
				this.raf = window.requestAnimationFrame(this.update.bind(this))
				this.target = ((window.pageYOffset - this.start) / this.duration * this.amount) + this.offset
				this.progress = this.progress + (this.target - this.progress) * (1 - this.dampening)
				this.$el.style.setProperty('--parallax-progress', this.progress.toString() + this.units)
			}
		},
		mounted() {
			this.resize()
			window.addEventListener('resize', this.resize, false)

			this.target = ((window.pageYOffset - this.start) / this.duration * this.amount) + this.offset
			this.$el.style.setProperty('--parallax-progress', this.target.toString() + this.units)

			this.raf = window.requestAnimationFrame(this.update.bind(this))
		},
		beforeDestroy() {
			window.removeEventListener('resize', this.resize, false)
			window.cancelAnimationFrame(this.raf)
		}
	}
</script>

<style scoped>
	.parallax {
		--parallax-progress: 0%;
		will-change: transform;
	}

	.parallax.x {
		transform: translate3d(var(--parallax-progress, 0%), 0px, 0px);
	}

	.parallax.y {
		transform: translate3d(0px, var(--parallax-progress, 0%), 0px);
	}

	.parallax.z {
		transform: translate3d(0px, 0px, var(--parallax-progress, 0px));
	}
</style>