<script>
	import Container from '~/components/grid/Container.vue'
	import DmdsTransitionIn from '~/components/ui/DmdsTransitionIn.vue'

	export default {
		name: "dmds-section",
		components: {
			Container,
			DmdsTransitionIn,
		},
		props: {
			topless: {
				type: Boolean,
				required: false,
				default: false,
			},
			relative: {
				type: Boolean,
				required: false,
				default: false,
			},
			fade: {
				type: Boolean,
				required: false,
				default: false,
			}
		},
		computed: {
			sectionClasses() {
				return `py-4 md:py-8 lg:py-16 dmds-section ${this.topless ? 'topless' : ''}`
			},
			containerClasses() {
				return `xl:py-8' ${this.relative ? 'relative z-10' : ''}`
			}
		},
		render: function (createElement) {
			const container = createElement('container', {
				class: this.containerClasses,
				props: {
					gutter: 4
				}
			}, this.$slots.default)
			const section = createElement('section', {
				class: this.sectionClasses,
			}, [container])

			if (this.fade) {
				return createElement('dmds-transition-in', {
					props: {
						effect: 'fade',
						direction: 'up',
					}
				}, [section])
			} else {
				return section
			}
		}
	}
</script>

<style scoped>
	/* Select All white adjacent sections and make them not double-pad */
	.dmds-section:not([class*='bg-']) + .dmds-section:not([class*='bg-']) {
		padding-top: 0 !important;
	}

	.dmds-section.topless {
		padding-top: 0 !important;
	}

	.dmds-section.topless .container {
		padding-top: 0 !important;
	}
</style>