<template>
	<div class="flex flex-nowrap md:mb-4 pb-4 sm:pb-8">
		<div :class="hrContClass" v-if="side === 'left'">
			<div :class="hrClass"></div>
		</div>
		<div :class="textContClass">
			<slot/>
		</div>
		<div :class="hrContClass" v-if="side === 'right'">
			<div :class="hrClass"></div>
		</div>
	</div>
</template>

<script>
	export default {
		name: "dmds-hr-header",
		computed: {
			hrClass() {
				return `border-b-4 border-${this.color} w-16 h-0`
			},
			hrContClass() {
				return `items-center hidden ${this.breakpoint}:flex`
			},
			textContClass() {
				return `${this.breakpoint}:px-6 ${this.breakpoint}:flex-grow text-left font-thin ${this.breakpoint}:text-${this.side}`
			}
		},
		props: {
			breakpoint: {
				type: String,
				required: false,
				default: 'sm',
				validate(input) {
					return ['sm', 'md', 'lg', 'xl'].includes(input)
				}
			},
			color: {
				type: String,
				required: false,
				default: 'yellow',
			},
			side: {
				type: String,
				required: false,
				default: 'left',
				validate(input) {
					return ['left', 'right'].includes(input)
				}
			}
		}
	}
</script>

<style scoped>

</style>