<template>
	<div class="scroll-events">
		<slot ref="child"></slot>
	</div>
</template>

<script>
	import ScrollEvents from '~/mixins/scrollEvents'

	export default {
		name: "DmdsScrollEvent",
		mixins: [ScrollEvents],
		props: {
			enterEvent: {
				type: String,
				required: true,
			},
		},
		methods: {
			se_fire() {
				this.$refs.child[this.enterEvent]()
			}
		},
		mounted() {
			this.se_init()
		},
		beforeDestroy() {
			this.se_destroy()
		}
	}
</script>