<template>
	<div :class="backgroundClasses" :title="this.title"
	     :style="{'background-image': `url(${this.image})`}">
		<div v-if="fade" class="relative z-20">
			<slot/>
		</div>
		<slot v-else/>
	</div>
</template>

<script>
	export default {
		name: "dmds-card-image",
		props: {
			color: {
				type: String,
				required: false,
				default: 'white',
			},
			hoverColor: {
				type: String,
				required: false,
				default: 'none'
			},
			image: {
				type: String,
				required: true,
			},
			title: {
				type: String,
			},
			fade: {
				type: Boolean,
				required: false,
				default: false,
			}
		},
		computed: {
			backgroundClasses() {
				//has shield class, pseudo element
				const base = `dmds-background-img relative w-100 h-100 bg-${this.color} hover:bg-${this.hoverColor}`
				const fade = (this.fade) ? 'has-shield' : ''
				return [base, fade].join(' ')
			},
		}
	}
</script>

<style scoped>
	.dmds-background-img {
		position: relative;
		background-size: cover;
		background-position: center;
		background-blend-mode: multiply;
		transition: background-color 0.05s ease-in-out;
	}

	.dmds-background-img > div:first-child {
		transition: background-color 0.05s ease-in-out;
	}

	.has-shield::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
		background-color: inherit;
		opacity: 0.5;
	}
</style>