<script>
	export default {
		name: "dmds-button",
		props: {
			to: {
				type: [String, Object],
				required: false,
				default: '#'
			},
			color: {
				type: String,
				required: false,
				default: 'blue',
			},
			outline: {
				type: Boolean,
				required: false,
				default: false
			},
			shadow: {
				type: Boolean,
				required: false,
				default: false
			},
			size: {
				type: String,
				required: false,
				default: 'md',
				validate(input) {
					return ['sm', 'md', 'lg', 'xl'].includes(input)
				}
			},
			anchor: {
				type: Boolean,
				required: false,
				default: false,
			}
		},
		data() {
			return {
				padding: {
					sm: {x: 3, y: 2},
					md: {x: 4, y: 3},
					lg: {x: 8, y: 4},
					xl: {x: 8, y: 6}
				}
			}
		},
		computed: {
			classList() {
				const base = `dmds-button inline-block no-underline whitespace-no-wrap`
				const padding = `px-${this.padding[this.size].x} py-${this.padding[this.size].y}`
				const colors = this.outline ? `bg-transparent text-${this.color} border border-${this.color} hover:bg-${this.color} hover:text-white` : `bg-${this.color} border border-${this.color} hover:border-${this.color} text-white hover:bg-white hover:text-${this.color}`
				const shadow = this.shadow ? `shadow-md hover:shadow-lg active:shadow` : ``
				return [base, padding, colors, shadow].join(' ')
			}
		},
		render: function (createElement) {
			const tag = this.anchor ? 'a' : 'nuxt-link'
			return createElement(tag, {
				class: this.classList,
				attrs: {
					href: this.to
				},
				props: {
					to: this.to
				}
			}, this.$slots.default)
		}
	}
</script>

<style scoped>
	.dmds-button {
		text-transform: uppercase;
		font-size: 90%;
		transform: translateY(0);
		transition: background-color 0.15s ease, color 0.15s ease, box-shadow 0.15s ease, transform 0.15s ease, border 0.15s ease;
	}

	.dmds-button.shadow-md:hover {
		transform: translateY(-0.2rem);
	}

	.dmds-button.shadow-md:active {
		transform: translateY(0);
	}
</style>