<template>
	<header class="dmds-section-header">
		<div :class="headerClasses" :style="{'background-image': background ? `url(${background})` : ''}">
			<div :class="shieldClasses" v-if="background !== null"></div>
			<container :gutter="4" class="xl:py-8">
				<nav v-if="breadcrumbs !== null" class="mb-2 relative z-10">
					<ul class="flex list-reset flex-wrap">
						<li v-for="(crumb, index) in breadcrumbs" :key="index" class="pr-3">
							<span class="pr-2 inline-block text-xl">/</span>
							<nuxt-link :to="{path: crumb.to}" class="no-underline hover:underline text-lg">
								{{crumb.title}}
							</nuxt-link>
						</li>
					</ul>
				</nav>
				<h1 :class="headingClasses">{{header}}</h1>
				<h2 :class="subHeadingClasses" v-if="subHeader !== ''">{{subHeader}}</h2>
				<p v-if="cta !== null">
					<dmds-button :to="cta.to" :color="cta.color" :size="ctaSize"
					             class="mt-4 relative z-10"
					             :shadow="cta.shadow || false">
						{{cta.title}}
					</dmds-button>
				</p>
				<div v-if="shadowText" class="dmds-section-header-shadow-text" :style="{opacity: shadowTextOpacity}">
					{{header}}
				</div>
			</container>
		</div>
		<nav v-if="bottomNav !== null"
		     class="bg-blue-lightest">
			<container class="overflow-x-auto mx-auto">
				<ul class="list-reset flex flex-no-wrap py-3 px-2">
					<li v-for="(link, index) in bottomNav" :key="index" class="px-2">
						<nuxt-link :to="{path: link.to}"
						           :class="[!link.active ? 'opacity-75' : 'font-bold', 'hover:opacity-100', 'no-underline', 'text-blue-dark', 'whitespace-no-wrap', 'text-sm md:text-base']"
						           style="text-transform:uppercase">
							{{link.title}}
						</nuxt-link>
					</li>
				</ul>
			</container>
		</nav>
	</header>
</template>

<script>
	import DmdsButton from './DmdsButton'
	import {Container} from '~/components/grid'

	const levels = [
		{
			main: ['3xl', '4xl', '5xl'],
			sub: ['xl', '2xl', '3xl'],
			cta: 'md',
		},
		{
			main: ['2xl', '3xl', '4xl'],
			sub: ['lg', 'xl', '2xl'],
			cta: 'md',
		},
		{
			main: ['xl', '2xl', '3xl'],
			sub: ['md', 'lg', 'xl'],
			cta: 'sm',
		}
	]

	export default {
		name: "dmds-section-header",
		components: {
			DmdsButton,
			Container,
		},
		props: {
			level: {
				type: Number,
				required: false,
				default: 1,
				validate(input) {
					return input < 3 && input > 0
				}
			},
			header: {
				type: String,
				required: true
			},
			subHeader: {
				type: String,
				required: false,
				default: '',
			},
			cta: {
				type: Object,
				required: false,
				default: null,
				validate(input) {
					return input.color !== null && input.color !== undefined
						&& input.title !== null && input.title !== undefined
						&& input.to !== null && input.to !== undefined
				}
			},
			background: {
				type: String,
				required: false,
				default: null
			},
			backgroundColor: {
				type: String,
				required: false,
				default: 'blue-dark',
			},
			shadowText: {
				type: Boolean,
				required: false,
				default: false,
			},
			shadowTextOffset: {
				type: Number,
				required: false,
				default: 0,
			},
			shadowTextAmount: {
				type: Number,
				required: false,
				default: 20
			},
			shadowTextOpacity: {
				type: Number,
				required: false,
				default: 0.25,
				validate(input) {
					return input <= 1 && input >= 0
				}
			},
			breadcrumbs: {
				type: Array,
				required: false,
				default: null,
			},
			bottomNav: {
				type: Array,
				required: false,
				default: null,
			}
		},
		computed: {
			headerClasses() {
				const base = `dmds-section-header-inner`
				const padding = `py-16 md:py-16 lg:py-32`
				const color = `bg-${this.backgroundColor} text-white`

				return [base, padding, color].join(' ')
			},
			headingClasses() {
				const level = levels[this.level - 1]
				return `text-${level.main[0]} md:text-${level.main[1]} lg:text-${level.main[2]} relative z-10 font-bold`
			},
			subHeadingClasses() {
				const level = levels[this.level - 1]
				return `text-${level.sub[0]} md:text-${level.sub[1]} lg:text-${level.sub[2]} mt-4 relative z-10 font-thin`
			},
			ctaSize() {
				return levels[this.level - 1].cta
			},
			shieldClasses() {
				return `absolute pin opacity-50 bg-${this.backgroundColor}`
			}
		},
		data() {
			return {
				start: 0,
				duration: 0,
				raf: null,
			}
		},
		methods: {
			resize() {
				const windowHeight = window.innerHeight // store as we access twice
				const rect = this.$el.getBoundingClientRect()
				this.start = window.pageYOffset + rect.top - windowHeight
				this.duration = window.pageYOffset + rect.top + rect.height + windowHeight - this.start
			},
			update() {
				this.raf = window.requestAnimationFrame(this.update.bind(this))
				const progress = ((window.pageYOffset - this.start) / this.duration * this.shadowTextAmount) + this.shadowTextOffset
				this.$el.style.setProperty('--shadow-text-position', progress + '%')
			}
		},
		mounted() {
			if (this.shadowText) {
				this.resize()
				window.addEventListener('resize', this.resize, false)
				this.raf = window.requestAnimationFrame(this.update.bind(this))
			}
		},
		beforeDestroy() {
			if (this.shadowText) {
				window.removeEventListener('resize', this.resize, false)
				window.cancelAnimationFrame(this.raf)
			}
		}
	}
</script>

<style scoped>
	.dmds-section-header {
		--shadow-text-position: 0%;
	}

	.dmds-section-header-inner {
		background-size: cover;
		background-position: center;
		background-blend-mode: multiply;
		position: relative;
		overflow: hidden;
	}

	.dmds-section-header-shadow-text {
		color: black;
		font-size: 20vmin;
		font-weight: bold;
		position: absolute;
		top: 50%;
		left: 0;
		z-index: 1;
		white-space: nowrap;
		pointer-events: none;
		transform: translate3d(var(--shadow-text-position, 0%), -50%, 1px);
		will-change: transform;
	}

	.dmds-section-header-bottom-nav {

	}
</style>