<template>
	<div class="relative transition-in">
		<div :class="shieldClasses" ref="shield" v-if="effect === 'wipe'"></div>
		<div class="wipe-body hide" ref="body" v-if="effect === 'wipe'">
			<slot></slot>
		</div>
		<div class="fade-body hide" ref="body" v-if="effect === 'fade'">
			<slot></slot>
		</div>
	</div>
</template>

<script>
	import {TimelineLite, Expo} from 'gsap'
	import ScrollEvents from '~/mixins/scrollEvents'

	export default {
		name: "DmdsTransitionIn",
		mixins: [ScrollEvents],
		props: {
			effect: {
				type: String,
				required: true,
				validator(input) {
					return ['wipe', 'fade'].includes(input)
				}
			},
			direction: {
				type: String,
				required: false,
				default: 'down',
				validator(input) {
					return ['up', 'down', 'left', 'right'].includes(input)
				}
			},
			duration: {
				type: Number,
				required: false,
				default: 0.5,
				validator(input) {
					return input > 0
				}
			},
			mode: {
				type: String,
				required: false,
				default: 'scroll',
				validate(input) {
					return ['scroll', 'autoplay', 'manual'].includes(input)
				}
			},
			delay: {
				type: Number,
				required: false,
				default: 0,
				validator(input) {
					return input >= 0
				}
			},
			wipeColor: {
				type: String,
				required: false,
				default: 'grey',
			},
			wipeShadow: {
				type: String,
				required: false,
				default: 'none',
				validator(input) {
					return ['none', '', 'md', 'lg'].includes(input)
				}
			}
		},
		computed: {
			axis() {
				return ['up', 'down'].includes(this.direction) ? 'vertical' : 'horizontal'
			},
			shadowClass() {
				if (this.effect === 'wipe') {
					return this.wipeShadow === '' ? 'shadow' : `shadow-${this.wipeShadow}`
				} else {
					return ''
				}
			},
			shieldClasses() {
				return `wipe-shield absolute bg-${this.wipeColor} ${this.shadowClass} w-full h-full z-10 ${this.axis}`
			}
		},
		methods: {
			updateOrigin(shield, origin, shadowClass, body) {
				shield.style.transformOrigin = origin
				shield.classList.remove(shadowClass)
				body.classList.remove('hide')
			},
			se_fire() {
				this.play()
			},
			play() {
				if (this.effect === 'wipe') {
					this.wipeIn()
				} else if (this.effect === 'fade') {
					this.fadeIn()
				}
			},
			wipeIn() {
				const t = new TimelineLite()
				let originStart = ''
				let originEnd = ''

				switch (this.direction) {
					case 'up':
						originStart = 'bottom'
						originEnd = 'top'
						break;
					case 'down':
						originStart = 'top'
						originEnd = 'bottom'
						break;
					case 'left':
						originStart = 'right'
						originEnd = 'left'
						break;
					case 'right':
						originStart = 'left'
						originEnd = 'right'
				}

				const shield = this.$refs.shield
				const body = this.$refs.body

				shield.style.transformOrigin = originStart
				if (this.axis === 'vertical') {
					t.to(shield, this.duration * 0.5, {
						scaleY: 1,
						ease: Expo.easeInOut,
						onComplete: this.updateOrigin,
						onCompleteParams: [shield, originEnd, this.shadowClass, body],
					})
					t.to(shield, this.duration * 0.5, {
						scaleY: 0,
						ease: Expo.easeInOut,
					})
				} else {
					t.to(shield, this.duration * 0.5, {
						scaleX: 1,
						ease: Expo.easeInOut,
						onComplete: this.updateOrigin,
						onCompleteParams: [shield, originEnd, this.shadowClass, body],
					})
					t.to(shield, this.duration * 0.5, {
						scaleX: 0,
						ease: Expo.easeInOut,
					})
				}

				t.delay(this.delay).play()
			},
			fadeIn() {
				const amount = 20
				let from = {}
				switch (this.direction) {
					case 'up':
						from = {y: amount, opacity: 0}
						break;
					case 'down':
						from = {y: -amount, opacity: 0}
						break;
					case 'left':
						from = {x: amount, opacity: 0}
						break;
					case 'right':
						from = {x: -amount, opacity: 0}
						break;
				}
				const t = new TimelineLite({paused: true})
				t.fromTo(this.$refs.body, this.duration, from, {
					x: 0,
					y: 0,
					opacity: 1,
					ease: Expo.easeInOut,
					onComplete: (body) => {
						body.classList.remove('hide')
					},
					onCompleteParams: [this.$refs.body],
				})

				t.delay(this.delay).play()
			}
		},
		mounted() {
			switch (this.mode) {
				case 'autoplay':
					this.play()
					break
				case 'scroll':
					this.se_init()
					break
			}
		},
		beforeDestroy() {
			if (this.mode === 'scroll') {
				this.se_destroy()
			}
		}
	}
</script>

<style scoped>
	.wipe-body.hide {
		visibility: hidden;
		pointer-events: none;
	}

	.fade-body.hide {
		opacity: 0;
	}

	.wipe-shield.horizontal {
		transform: scale(0, 1);
	}

	.wipe-shield.vertical {
		transform: scale(1, 0)
	}
</style>