<template>
	<main>
		<dmds-section-header :level="1" :header="faculty.name" color="white"
		                     background-color="blue-dark" shadow-text
		                     :breadcrumbs="[{to:'/department',title:'Department'},{to:'/department/faculty',title:'Faculty'}]"></dmds-section-header>
		<dmds-section>
			<row class="-mx-2">
				<column class="p-2" md="1/3">
					<dmds-transition-in effect="wipe" direction="down" wipe-color="blue" class="mb-4">
						<img :src="faculty.avatar" :alt="faculty.slug" class="max-w-full">
					</dmds-transition-in>
					<dmds-transition-in effect="fade" direction="up" :delay="0.2">
						<p v-if="faculty.position" class="mb-2">Position: {{ faculty.position }}</p>
						<p v-if="faculty.concentration" class="mb-2">Concentration: {{ faculty.concentration.name }}</p>
					</dmds-transition-in>
				</column>
				<column class="p-2" md="2/3">
					<dmds-transition-in effect="fade" direction="up">
						<dmds-hr-header class="mb-4">
							<h2>About</h2>
						</dmds-hr-header>
						<div v-html="faculty.bio"></div>
					</dmds-transition-in>
				</column>
			</row>
		</dmds-section>
	</main>
</template>

<script>
	import {DmdsSectionHeader, DmdsSection, DmdsHrHeader, DmdsTransitionIn} from '~/components/ui'
	import {Row, Column} from '~/components/grid'

	export default {
		name: "singleFaculty",
		components: {
			DmdsSectionHeader,
			DmdsSection,
			DmdsHrHeader,
			DmdsTransitionIn,
			Row,
			Column,
		},
		async asyncData({app, params}) {
			let faculty = await app.$axios.get(process.env.API_URL + 'channels/faculty/entries?query_key=slug&query_value=' + params.id).then(res => res.data[0])

			return {
				faculty: faculty
			}
		},
	}
</script>

<style scoped>

</style>