<template>
	<main>
		<dmds-section-header :level="1" header="Faculty"
		                     tall color="white" background-color="blue-dark" shadow-text
		                     :shadow-text-offset="0" :bottom-nav="bottomNav" background="/images/department.jpg"
		                     :breadcrumbs="[{to:'/department', title:'Department'}]"></dmds-section-header>
		<dmds-section>
			<row class="-mx-2">
				<column class="p-2 flex items-stretch" sm="1/2" md="1/3" lg="1/4" v-for="member in faculty"
				        :key="member.id">
					<dmds-card class="w-full flex-col items-start justify-between">
						<dmds-background-image :image="member.avatar">
							<div style="padding-bottom:100%;"></div>
						</dmds-background-image>
						<div class="p-4 flex-grow flex-col items-start justify-between">
							<h2 class="mb-1">{{member.name}}</h2>
							<div class="mb-3 flex-grow">
								<p v-if="member.position !== ''">{{member.position}}</p>
								<p class="text-grey-darker" v-if="member.concentration">
									{{member.concentration.name}}</p>
							</div>
							<dmds-button :to="'/department/faculty/' + member.slug" size="sm">More</dmds-button>
						</div>
					</dmds-card>
				</column>
			</row>
		</dmds-section>
	</main>
</template>

<script>
	import * as ui from '~/components/ui'
	import * as grid from '~/components/grid'

	export default {
		name: "allFaculty",
		components: {
			...ui,
			...grid,
		},
		async asyncData({app}) {
			let faculty = await app.$axios.get(process.env.API_URL + 'channels/faculty/entries').then(res => res.data).then(data => {
				return data.sort((a, b) => {
					if (a.last_name < b.last_name) {
						return -1;
					}
					if (a.last_name > b.last_name) {
						return 1;
					}
					return 0;
				})
			})
			return {
				faculty: faculty
			}
		},
		data() {
			return {
				bottomNav: [
					{to: '/department/campuses', title: 'Campuses'},
					{to: '/department/faculty', title: 'Faculty', active: true},
					{to: '/department/outreach', title: 'Outreach'},
					{to: '/department/research', title: 'Research'},
				]
			}
		},
	}
</script>

<style scoped>

</style>