<template>
	<main>
		<dmds-section-header :level="1" :header="article.title" color="white" shadow-text
		                     :shadow-text-offset="0" :breadcrumbs="[{to:'/news', title:'News'}]"></dmds-section-header>
		<dmds-section>
			<div class="mx-auto mb-6">
				<dmds-card v-if="article.image" class="mx-auto mb-6" style="width:max-content;max-width:100%;">
					<img :src="imageURL(article.image.path)" :alt="article.slug + ' image'" class="block">
				</dmds-card>
				<div style="max-width:60rem;" class="mx-auto" v-html="article.body"></div>
			</div>
		</dmds-section>
	</main>
</template>

<script>
	import * as ui from '~/components/ui'
	import * as grid from '~/components/grid'
	import imageURL from '~/mixins/imageURL'

	export default {
		name: "singleWork",
		mixins: [imageURL],
		components: {
			...ui,
			...grid,
		},
		async asyncData({app, params}) {
			let article = await app.$axios.get(process.env.API_URL + 'channels/news/entries?query_key=slug&query_value=' + params.id).then(res => res.data[0])
			return {
				article: article,
			}
		}
	}
</script>

<style scoped>

</style>