<template>
	<main>
		<dmds-section-header :level="1" header="News" color="white" shadow-text
		                     :shadow-text-offset="0"></dmds-section-header>
		<dmds-section>
			<dmds-section>
				<row class="-mx-4">
					<column class="hidden md:block px-4" md="1/4">
						<sticky-box>
							<h3 class="mb-2" style="text-transform:uppercase;">Filter</h3>
							<p>We'll sort this out later lol get it</p>
						</sticky-box>
					</column>
					<column md="3/4" class="px-4">
						<row class="-mx-2 items-stretch">
							<column md="1/2" class="p-2 flex items-stretch" v-for="(article, index) in news"
							        :key="index">
								<dmds-card class="bg-grey-lightest w-full">
									<dmds-background-image v-if="article.image"
									                       :image="imageURL(article.image.path)">
										<div class="h-64"></div>
									</dmds-background-image>
									<div class="p-4">
										<h2 class="mb-3">{{article.title}}</h2>
										<div class="mb-3" v-html="article.short_description"></div>
										<dmds-button :to="'/news/' + article.slug">View</dmds-button>
									</div>
								</dmds-card>
							</column>
						</row>
					</column>
				</row>
			</dmds-section>
		</dmds-section>
	</main>
</template>

<script>
	import * as ui from '~/components/ui'
	import * as grid from '~/components/grid'
	import {StickyBox} from '~/components/layout'
	import imageURL from '~/mixins/imageURL'

	export default {
		name: "work",
		mixins: [imageURL],
		components: {
			...ui,
			...grid,
			StickyBox,
		},
		async asyncData({app}) {
			let news = await app.$axios.get(process.env.API_URL + 'channels/news/entries').then(res => res.data)
			return {
				news: news,
			}
		}
	}
</script>

<style scoped>

</style>