<template>
	<main>
		<dmds-section-header :level="1" :header="concentration.name" color="white"
		                     :background="imageURL(concentration.image.path)"
		                     background-color="blue-dark" shadow-text :shadow-text-offset="0"
		                     :breadcrumbs="[{to:'/program',title:'Program'},{to:'/program/concentrations',title:'Concentrations'}]"></dmds-section-header>
		<dmds-section>
			<article class="concentration py-2 sm:py-4 md:py-8">
				<dmds-transition-in mode="scroll" effect="fade" direction="up">
					<dmds-hr-header side="left" class="mb-4">
						<h2 class="text-2xl sm:text-4xl md:text-5xl">About</h2>
					</dmds-hr-header>
					<row class="-mx-2 mb-4 md:mb-8">
						<column md="1/3" class="p-2">
							<dmds-background-image :image="imageURL(concentration.card_image.path)" color="white">
								<div class="h-64"></div>
							</dmds-background-image>
						</column>
						<column class="p-2" md="2/3">
							<div class="mb-4" v-html="concentration.description"></div>
						</column>
					</row>
				</dmds-transition-in>
				<dmds-transition-in mode="scroll" effect="fade" direction="up">
					<dmds-hr-header side="right" class="mb-4">
						<h2 class="text-2xl sm:text-4xl md:text-5xl">Student Work</h2>
					</dmds-hr-header>
				</dmds-transition-in>
				<dmds-transition-in mode="scroll" effect="fade" direction="up">
					<dmds-hr-header side="left" class="mb-4">
						<h2 class="text-2xl sm:text-4xl md:text-5xl">Curriculum</h2>
					</dmds-hr-header>
					<row class="-mx-2 items-stretch">
						<column lg="1/2" v-for="(course, index) in courses" :key="index"
						        class="p-2 flex items-stretch">
							<dmds-card class="bg-grey-lightest p-6 w-full">
								<h3 class="mb-3 text-2xl">{{course.name}}</h3>
								<h4 class="mb-4"><em>DMD {{course.number}}, {{course.credits}}
									credits</em></h4>
								<div v-html="course.description" class="text-black"></div>
							</dmds-card>
						</column>
					</row>
				</dmds-transition-in>
			</article>
		</dmds-section>
	</main>
</template>

<script>
	import * as grid from '~/components/grid'
	import * as ui from '~/components/ui'
	import * as icons from '~/components/icons'
	import * as program from '~/components/program'
	import imageURL from '~/mixins/imageURL'

	export default {
		name: "single-concentration",
		mixins: [imageURL],
		async asyncData({app, params}) {
			let concentration = await app.$axios.get(process.env.API_URL + 'channels/concentrations/entries?query_key=slug&query_value=' + params.id).then(res => res.data[0])
			let courses = await app.$axios.get(process.env.API_URL + 'channels/curriculum/entries?relationships=false&query_key=concentration_id&query_value=' + concentration.id).then(res => res.data)
			return {
				concentration: concentration,
				courses: courses
			}
		},
		components: {
			...grid,
			...ui,
			...icons,
			...program,
		},
	}
</script>

<style scoped>

</style>