<template>
	<main>
		<dmds-section-header :level="1" header="Concentrations" color="white" shadow-text :shadow-text-offset="0"
		                     :breadcrumbs="[{to: '/program', title: 'Program'}]" :bottom-nav="bottomNav"
		                     background="/images/program.jpg"></dmds-section-header>
		<dmds-section>
			<row class="-mx-4">
				<column class="hidden md:block px-4" md="1/4">
					<sticky-box>
						<div class="">
							<h3 class="mb-2" style="text-transform:uppercase;">Concentrations</h3>
							<nav>
								<ul class="list-reset">
									<li v-for="(concentration, index) in concentrations" :key="index"
									    class="py-2 text-black">
										<a size="md" v-smooth-scroll="{ duration: 900, offset: -100 }"
										   :href="'#concentration-' + concentration.slug"
										   class="text-black no-underline hover:text-blue">{{concentration.name}}</a>
									</li>
								</ul>
							</nav>
						</div>
					</sticky-box>
				</column>
				<column md="3/4" class="px-4">
					<concentration-container v-for="(concentration, index) in concentrations" :key="index"
					                         :id="'concentration-' + concentration.slug"
					                         :concentration="concentration" :index="index">
					</concentration-container>
				</column>
			</row>
		</dmds-section>
	</main>
</template>

<script>
	import * as grid from '~/components/grid'
	import * as ui from '~/components/ui'
	import * as icons from '~/components/icons'
	import * as program from '~/components/program'
	import {StickyBox} from '~/components/layout'

	export default {
		name: "concentrations",
		async asyncData({app}) {
			let concentrations = await app.$axios.get(process.env.API_URL + 'channels/concentrations/entries').then(res => res.data)
			return {
				concentrations: concentrations
			}
		},
		components: {
			...grid,
			...ui,
			...icons,
			...program,
			StickyBox,
		},
		data() {
			return {
				bottomNav: [
					{to: '/program/degrees', title: 'Degrees'},
					{to: '/program/concentrations', title: 'Concentrations', active: true},
					{to: '/program/involvement', title: 'Involvement'},
					{to: '/program/curriculum', title: 'Curriculum'},
					{to: '/program/internships', title: 'Internships'},
					{to: '/program/alumni-stories', title: 'Alumni Stories'},
					{to: '/program/grants', title: 'Grants'},
				],
			}
		},
	}
</script>

<style scoped>
	.concentration:first-child {
		padding-top: 0;
		margin-top: 0;
	}
</style>