
.container {
	max-width: 100%;
}

@tailwind preflight;
@tailwind components;
@tailwind utilities;

html {
	@apply .font-sans .font-light
}

p {
	@apply .leading-normal
}

a {
	color: inherit;
	text-decoration:inherit;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: inherit;
}