<template>
	<main>
		<dmds-section-header :level="1" :header="work.name" color="white" shadow-text
		                     :shadow-text-offset="0" :breadcrumbs="[{to:'/work', title:'Work'}]"></dmds-section-header>
		<dmds-section>
			<div class="mx-auto mb-6">
				<dmds-card class="p-4" v-if="work.iframe_code">
					<div v-html="work.iframe_code"></div>
				</dmds-card>
				<dmds-card v-else class="mx-auto mb-6" style="width:max-content;max-width:100%;">
					<img :src="imageURL(work.image.path)" :alt="work.slug + ' image'" class="block">
				</dmds-card>
				<div style="max-width:60rem;" class="mx-auto mb-4" v-html="work.description"></div>
				<div class="mx-auto" style="max-width:60rem;">
					<dmds-button anchor :to="work.link">Direct Link</dmds-button>
				</div>
			</div>
		</dmds-section>
	</main>
</template>

<script>
	import * as ui from '~/components/ui'
	import * as grid from '~/components/grid'
	import imageURL from '~/mixins/imageURL'

	export default {
		name: "singleWork",
		mixins: [imageURL],
		components: {
			...ui,
			...grid,
		},
		async asyncData({app, params}) {
			let work = await app.$axios.get(process.env.API_URL + 'channels/student-work/entries?query_key=slug&query_value=' + params.id).then(res => res.data[0])
			return {
				work: work,
			}
		}
	}
</script>

<style scoped>

</style>