<template>
	<main>
		<dmds-section-header :level="1" header="Student Work" color="white" shadow-text
		                     :shadow-text-offset="0"></dmds-section-header>
		<dmds-section>
			<dmds-section>
				<row class="-mx-4">
					<column class="hidden md:block px-4" md="1/4">
						<sticky-box>
							<h3 class="mb-2" style="text-transform:uppercase;">Filter</h3>
							<label v-for="concentration in concentrations" :key="concentration.id"
							       class="block mb-2">
								<input type="checkbox" v-model="filters[concentration.slug]"> {{concentration.name}}
							</label>
						</sticky-box>
					</column>
					<column md="3/4" class="px-4">
						<row class="-mx-2">
							<column md="1/2" class="p-2" v-for="(work, index) in works" :key="index"
							        v-if="filters[work.concentration.slug]">
								<dmds-transition-in effect="fade" mode="scroll" direction="up">
									<dmds-card>
										<dmds-background-image :image="imageURL(work.image.path)">
											<div class="h-64"></div>
										</dmds-background-image>
										<div class="p-4">
											<h2 class="mb-3">{{work.name}}</h2>
											<div class="mb-3" v-html="work.short_description"></div>
											<dmds-button :to="'/work/' + work.slug">View</dmds-button>
										</div>
									</dmds-card>
								</dmds-transition-in>
							</column>
						</row>
					</column>
				</row>
			</dmds-section>
		</dmds-section>
	</main>
</template>

<script>
	import * as ui from '~/components/ui'
	import * as grid from '~/components/grid'
	import {StickyBox} from '~/components/layout'
	import imageURL from '~/mixins/imageURL'

	export default {
		name: "work",
		mixins: [imageURL],
		components: {
			...ui,
			...grid,
			StickyBox,
		},
		async asyncData({app}) {
			let concentrations = await app.$axios.get(process.env.API_URL + 'channels/concentrations/entries?relationships=false').then(res => res.data)
			let work = await app.$axios.get(process.env.API_URL + 'channels/student-work/entries').then(res => res.data)
			let concentrationBools = {}
			concentrations.forEach(concentration => {
				concentrationBools[concentration.slug] = true
			})
			return {
				works: work,
				concentrations: concentrations,
				filters: concentrationBools,
			}
		}
	}
</script>

<style scoped>

</style>