<template>
	<div id="wrapper">
		<navigation></navigation>
		<nuxt/>
		<dmd-footer></dmd-footer>
		<uconn-footer></uconn-footer>
		<div id="nav-spacer" style="height:3rem"></div>
	</div>
</template>

<script>
	import * as layout from '~/components/layout'

	export default {
		components: {
			...layout,
		}
	}
</script>

<style>
	.page-enter-active, .page-leave-active {
		transition: all .15s ease-out;
	}

	.page-enter, .page-leave-active {
		opacity: 0;
		transform-origin: 50% 50%;
	}

	#nav-spacer {
		display: block;
	}

	@media (min-width: 666px) {
		#nav-spacer {
			display: none;
		}
	}
</style>
