<template>
	<div class="error-container flex items-center justify-center">
		<div class="text-center relative">
			<img src="/images/umbrella.png" class="error-img" role="presentation">
			<h1 v-if="error.statusCode === 404" class="mb-4">Page not found</h1>
			<h1 v-else class="mb-4">An error occurred</h1>
			<nuxt-link to="/">Home page</nuxt-link>
		</div>
	</div>
</template>

<script>
	export default {
		props: ['error'],
	}
</script>

<style scoped>
	.error-container {
		width: 100%;
		height: calc(100vh - 200px);
	}

	.error-img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: -1;
		opacity: 0.2;
	}
</style>