<template>
	<main>
		<dmds-section-header :level="1" :header="degree.name" color="white" shadow-text :shadow-text-offset="0"
		                     :background="imageURL(degree.image.path)"
		                     :breadcrumbs="[{to: '/program', title: 'Program'}, {to: '/program/degrees', title: 'Degrees'}]"></dmds-section-header>
		<dmds-section>
			<dmds-hr-header>
				<h2 class="text-2xl">About This Degree</h2>
			</dmds-hr-header>
			<row class="-mx-2">
				<column class="px-2" md="3/4">
					<div v-html="degree.description"></div>
				</column>
				<column class="px-2" md="1/4">
					<dmds-card class="bg-grey-lightest p-4">
						<h3 class="mb-3">Plan Of Study</h3>
						<p class="mb-3">A Sample course layout and list of requirements for this degree.</p>
						<dmds-button :to="imageURL(degree.plan_of_study.path)" anchor class="mb-4">Plan Of Study
						</dmds-button>
						<h3 class="mb-3">Ready To Take the Next Step?</h3>
						<dmds-button :to="applyLink">Application Process</dmds-button>
					</dmds-card>
				</column>
			</row>
		</dmds-section>
	</main>
</template>

<script>
	import * as grid from '~/components/grid'
	import * as ui from '~/components/ui'
	import * as icons from '~/components/icons'

	export default {
		name: "single-degree",
		async asyncData({app, params}) {
			let degree = await app.$axios.get(process.env.API_URL + 'channels/degrees/entries?query_key=abbreviation&query_value=' + params.id).then(res => res.data[0])
			return {
				degree: degree
			}
		},
		components: {
			...grid,
			...ui,
			...icons,
		},
		computed: {
			applyLink() {
				switch (this.degree.type) {
					case 'undergraduate':
						return '/apply'
					case 'graduate':
						return '/apply/graduate'
					case 'certificate':
						return '/apply/graduate'
				}
			}
		},
		methods: {
			imageURL(path) {
				return process.env.SERVER_URL + path
			}
		}

	}
</script>

<style scoped>

</style>