<template>
	<main>
		<dmds-section-header :level="1" header="Degrees"
		                     shadow-text :shadow-text-offset="0" background="/images/program.jpg"
		                     :breadcrumbs="[{to: '/program', title: 'Program'}]"
		                     :bottom-nav="bottomNav"></dmds-section-header>
		<dmds-section>
			<row class="-mx-4">
				<column class="px-4 hidden md:block" md="1/4">
					<sticky-box>
						<h3 class="mb-2" style="text-transform:uppercase">Degrees</h3>
						<nav>
							<ul class="list-reset">
								<li class="py-2 text-black" v-for="degree in degrees.bachelors" :key="degree.id">
									<a v-smooth-scroll="{ duration: 900, offset: -100 }"
									   :href="'#' + degree.abbreviation"
									   class="text-black no-underline hover:text-blue">{{degree.name}}</a>
								</li>
								<li class="py-2 text-black" v-for="degree in degrees.masters" :key="degree.id">
									<a v-smooth-scroll="{ duration: 900, offset: -100 }"
									   :href="'#' + degree.abbreviation"
									   class="text-black no-underline hover:text-blue">{{degree.name}}</a>
								</li>
								<li class="py-2 text-black" v-for="degree in degrees.certificate" :key="degree.id">
									<a v-smooth-scroll="{ duration: 900, offset: -100 }"
									   :href="'#' + degree.abbreviation"
									   class="text-black no-underline hover:text-blue">{{degree.name}}</a>
								</li>
							</ul>
						</nav>
					</sticky-box>
				</column>
				<column class="px-4" md="3/4">
					<dmds-transition-in mode="scroll" effect="fade" direction="up" :duration="0.5"
					                    class="mb-4 md:mb-8 lg:pb-8">
						<dmds-hr-header>
							<h2 class="text-2xl">Bachelor Degrees</h2>
						</dmds-hr-header>
						<dmds-card class="mb-3" v-for="degree in degrees.bachelors" :key="degree.id"
						           :id="degree.abbreviation">
							<dmds-background-image :image="imageURL(degree.image.path)" class="p-8 text-white"
							                       color="blue-dark">
								<h2 class="mb-4">{{degree.name}} ({{degree.abbreviation}})</h2>
								<div class="mb-6" v-html="degree.short_description"></div>
								<dmds-button color="blue" :to="{path: '/program/degrees/' + degree.abbreviation}">
									Learn More
								</dmds-button>
							</dmds-background-image>
						</dmds-card>
					</dmds-transition-in>
					<dmds-transition-in mode="scroll" effect="fade" direction="up" :duration="0.5"
					                    class="mb-4 md:mb-8 lg:pb-8">
						<dmds-hr-header>
							<h2 class="text-2xl">Masters Degrees</h2>
						</dmds-hr-header>
						<dmds-card class="mb-3" v-for="degree in degrees.masters" :key="degree.id"
						           :id="degree.abbreviation">
							<dmds-background-image :image="imageURL(degree.image.path)" class="p-8 text-white"
							                       color="blue-dark">
								<h2 class="mb-4">{{degree.name}} ({{degree.abbreviation}})</h2>
								<div class="mb-6" v-html="degree.short_description"></div>
								<dmds-button color="blue" :to="{path: '/program/degrees/' + degree.abbreviation}">
									Learn More
								</dmds-button>
							</dmds-background-image>
						</dmds-card>
					</dmds-transition-in>
					<dmds-transition-in mode="scroll" effect="fade" direction="up" :duration="0.5">
						<dmds-hr-header>
							<h2 class="text-2xl">Online Certificate Degrees</h2>
						</dmds-hr-header>
						<dmds-card class="mb-3" v-for="degree in degrees.certificate" :key="degree.id"
						           :id="degree.abbreviation">
							<dmds-background-image :image="imageURL(degree.image.path)" class="p-8 text-white"
							                       color="blue-dark">
								<h2 class="mb-4">{{degree.name}} ({{degree.abbreviation}})</h2>
								<div class="mb-6" v-html="degree.short_description"></div>
								<dmds-button color="blue" :to="{path: '/program/degrees/' + degree.abbreviation}">
									Learn More
								</dmds-button>
							</dmds-background-image>
						</dmds-card>
					</dmds-transition-in>
				</column>
			</row>
		</dmds-section>
	</main>
</template>

<script>
	import * as grid from '~/components/grid'
	import * as ui from '~/components/ui'
	import * as icons from '~/components/icons'
	import {StickyBox} from '~/components/layout'
	import imageURL from '~/mixins/imageURL'

	export default {
		name: "degrees",
		mixins: [imageURL],
		components: {
			...grid,
			...ui,
			...icons,
			StickyBox,
		},
		async asyncData({app}) {
			let degrees = await app.$axios.get(process.env.API_URL + 'channels/degrees/entries').then((res) => {
				return {
					bachelors: res.data.filter(d => d.type === 'undergraduate'),
					masters: res.data.filter(d => d.type === 'graduate'),
					certificate: res.data.filter(d => d.type === 'certificate'),
				}
			})
			return {
				degrees: degrees
			}
		},
		data() {
			return {
				bottomNav: [
					{to: '/program/degrees', title: 'Degrees', active: true},
					{to: '/program/concentrations', title: 'Concentrations'},
					{to: '/program/involvement', title: 'Involvement'},
					{to: '/program/curriculum', title: 'Curriculum'},
					{to: '/program/internships', title: 'Internships'},
					{to: '/program/alumni-stories', title: 'Alumni Stories'},
					{to: '/program/grants', title: 'Grants'},
				],
			}
		},
	}
</script>

<style scoped>

</style>