<template>
	<main>
		<dmds-section-header :level="1" header="Contact"
		                     color="white" shadow-text
		                     :shadow-text-offset="0"></dmds-section-header>
		<dmds-section fade>
			<div v-html="body"></div>
		</dmds-section>
	</main>
</template>

<script>
	import * as grid from '~/components/grid'
	import * as ui from '~/components/ui'
	import imageURL from '~/mixins/imageURL'

	export default {
		name: "research",
		mixins: [imageURL],
		components: {
			...grid,
			...ui,
		},
		async asyncData({app}) {
			let pageData = await
				app.$axios.get(process.env.API_URL + 'channels/contact/entries').then(res => res.data)
			return {...pageData}
		},
	}
</script>

<style scoped>

</style>