<template>
	<main>
		<banner :words="heroWords"></banner>
		<dmds-alert badge="Accepted Students" color="blue" class="md:px-8 md:pt-0">
			Schedule a visit to DMD today!
			<chevron slot="icon" class="w-4 h-4"></chevron>
		</dmds-alert>
		<dmds-section id="overview" relative>
			<dmds-hr-header class="py-6" side="right">
				<h1 class="text-4xl">Innovation, Meet Creativity</h1>
			</dmds-hr-header>
			<div class="hidden lg:block opacity-50 absolute pin-t pin-l z-n1 ml-8" role="presentation">
				<dmds-parallax :amount="100" :dampening="0.93" :offset="-50">
					<img src="/images/icons1.svg" style="width:18rem;">
				</dmds-parallax>
			</div>
			<row class="py-8 -mx-2">
				<column class="p-2" md="1/2" lg="1/3" v-for="(concentration, index) in concentrations" :key="index">
					<nuxt-link :to="{path: `/program/concentrations/${concentration.slug}`}"
					           class="text-white no-underline">
						<dmds-card class="concentration-card">
							<dmds-background-image :image="imageURL(concentration.card_image.path)"
							                       :title="concentration.name"
							                       color="blue" hoverColor="blue-darker"
							                       :fade="true">
								<div class="p-6 md:p-8 relative">
									<div class="hidden md:block" style="height:8rem"></div>
									<h2 class="border-l-2 border-yellow pl-3 m-6 md:m-8 md:absolute pin-b pin-l font-thin text-xl">
										{{concentration.name}}
										<chevron class="w-4 h-4 mt-1"></chevron>
									</h2>
								</div>
							</dmds-background-image>
						</dmds-card>
					</nuxt-link>
				</column>
			</row>
		</dmds-section>
		<dmds-section id="companies">
			<h2 class="text-center text-blue md:pb-8 lg:mb-8 p-4 text-xl">DMD Students Have Worked At Some of the Top
				Companies
				in the World</h2>
			<row class="items-stretch -mx-2 md:mb-8">
				<column class="p-2" base="1/2" sm="1/3" lg="1/6"
				        v-for="(company, index) in companies"
				        :key="index">
					<figure class="p-4">
						<img :src="imageURL(company.path)" :alt="company.name" class="w-full">
					</figure>
				</column>
			</row>
		</dmds-section>
		<dmds-section id="work" class="bg-grey-lightest overflow-hidden" relative>
			<dmds-hr-header class="py-6" side="left">
				<h1 class="text-4xl">Student Work</h1>
			</dmds-hr-header>
			<div class="hidden lg:block opacity-50 absolute pin-t pin-r z-n1 mr-8" role="presentation">
				<dmds-parallax :amount="100" :dampening="0.93" :offset="-20">
					<img src="/images/icons2.svg" style="width:18rem;">
				</dmds-parallax>
			</div>
			<row class="-mx-2">
				<column md="1/3" class="p-2" v-for="(work, index) in works" :key="index">
					<dmds-card class="bg-white">
						<dmds-background-image :image="work.image" :title="work.title"
						                       color="white">
							<div class="h-64"></div>
						</dmds-background-image>
						<div class="p-6 text-navy-darkest">
							<h2 class="mb-4">{{work.title}}</h2>
							<dmds-button size="sm" color="blue" :to="work.link">View This Work
							</dmds-button>
						</div>
					</dmds-card>
				</column>
			</row>
			<div class="text-center pt-6">
				<dmds-button size="lg" color="blue" to="/work">All Student Work</dmds-button>
			</div>
		</dmds-section>
		<dmds-section id="news-campuses" relative>
			<dmds-hr-header side="right" color="yellow" class="py-6">
				<h1>Latest News</h1>
			</dmds-hr-header>
			<row class="items-stretch -mx-2 mb-8 lg:pb-8">
				<column md="1/3" class="p-2 flex items-stretch" v-for="(news, index) in newsItems" :key="index">
					<dmds-card class="bg-white flex flex-col w-full">
						<dmds-background-image v-if="news.image != null && news.image != ''" :image="news.image"
						                       :title="news.title"
						                       color="white">
							<div class="h-32"></div>
						</dmds-background-image>
						<div class="p-6 flex flex-col items-start justify-between flex-grow">
							<h2 class="mb-2">{{news.title}}</h2>
							<p class="mb-6 flex-grow">{{news.teaser}}</p>
							<dmds-button size="sm" color="blue" :to="news.link">Read
							</dmds-button>
						</div>
					</dmds-card>
				</column>
			</row>
			<dmds-hr-header side="left" class="py-6">
				<h1>Campuses</h1>
			</dmds-hr-header>
			<div class="hidden lg:block opacity-50 absolute pin-t pin-r z-n1 mr-8" role="presentation">
				<dmds-parallax :amount="100" :dampening="0.93" :offset="180">
					<img src="/images/icons3.svg" style="width:18rem;">
				</dmds-parallax>
			</div>
			<row class="-mx-2">
				<column lg="1/2" class="p-2">
					<dmds-card>
						<dmds-background-image image="/images/storrs.jpg" title="Storrs"
						                       color="navy" :opacity="0.75">
							<div class="p-8 md:p-12">
								<h1 class="text-white mb-3">Storrs Campus</h1>
								<p class="text-blue-lightest mb-6">The Storrs Campus is really awesome! Lorem ipsum
									dolor
									sit
									amet,
									consectetur adipiscing elit. Suspendisse vel iaculis diam. Donec consequat
									sodales
									libero, ut suscipit velit cursus ac.</p>
								<dmds-button color="blue">Learn More</dmds-button>
							</div>
						</dmds-background-image>
					</dmds-card>
				</column>
				<column lg="1/2" class="p-2">
					<dmds-card>
						<dmds-background-image image="/images/stamford.jpg" title="Stamford"
						                       color="navy"
						                       :opacity="0.75">
							<div class="p-8 md:p-12">
								<h1 class="text-white mb-3">Stamford Campus</h1>
								<p class="text-blue-lightest mb-6">The Stamford Campus is really awesome! Lorem ipsum
									dolor sit amet, consectetur adipiscing elit. Suspendisse vel iaculis diam. Donec
									consequat sodales libero, ut suscipit velit cursus ac.</p>
								<dmds-button color="blue">Learn More</dmds-button>
							</div>
						</dmds-background-image>
					</dmds-card>
				</column>
			</row>
		</dmds-section>
	</main>
</template>

<script>
	import {Banner} from '~/components/landing'
	import {Row, Column} from '~/components/grid'
	import {
		DmdsAlert,
		DmdsSection,
		DmdsButton,
		DmdsHrHeader,
		DmdsCard,
		DmdsBackgroundImage,
		DmdsParallax
	} from '~/components/ui'
	import {Chevron} from '~/components/icons'
	import tailwind from '~/tailwind.js'

	export default {
		components: {
			Banner,
			Row, Column,
			DmdsAlert, DmdsSection, DmdsButton, DmdsHrHeader, DmdsCard, DmdsBackgroundImage, DmdsParallax,
			Chevron,
		},
		computed: {
			colors() {
				return tailwind.colors
			}
		},
		methods: {
			imageURL(path) {
				return process.env.SERVER_URL + path
			}
		},
		async asyncData({app}) {
			let data = await Promise.all([
				app.$axios.get(process.env.API_URL + 'channels/landing-page/entries').then(res => res.data),
				app.$axios.get(process.env.API_URL + 'channels/concentrations/entries').then(res => res.data)
			])
			return {
				heroWords: data[0].hero_words.split(','),
				concentrations: data[1],
				companies: [
					data[0].company_1,
					data[0].company_2,
					data[0].company_3,
					data[0].company_4,
					data[0].company_5,
					data[0].company_6,
				],
			}
		},
		data() {
			return {
				works: [
					{
						image: "/images/storrs.jpg",
						title: "Student Work 1",
						href: "#"
					},
					{
						image: "/images/storrs.jpg",
						title: "Student Work 2",
						href: "#"
					},
					{
						image: "/images/storrs.jpg",
						title: "Student Work 3",
						href: "#"
					}
				],
				newsItems: [
					{
						image: "/images/storrs.jpg",
						title: "Student Work 1",
						teaser: "Lorem ipsum dolor sit amet. Lorem ipsum, dolor; sit amet!",
						href: "#"
					},
					{
						image: "",
						title: "Student Work 2",
						teaser: "Lorem ipsum dolor sit amet. Lorem ipsum, dolor; sit amet! This item has no image, but a longer description. Lorem ipsum dolor sit amet. Lorem ipsum, dolor; sit amet! This item has no image, but a longer description.",
						href: "#"
					},
					{
						image: "/images/storrs.jpg",
						title: "Student Work 3",
						teaser: "Lorem ipsum dolor sit amet. Lorem ipsum, dolor; sit amet!",
						href: "#"
					}
				]
			}
		}
	}
</script>

<style>
	.concentration-card h2 {
		transform: translateX(0%);
		transition: transform 0.15s ease;
	}

	.concentration-card:hover h2 {
		transform: translateX(0.5rem);
	}
</style>
