<template>
	<div>
		<navigation></navigation>
		<h1>Hello World!</h1>
		<container>
			<h1 class="pt-8">Colors</h1>
			<row class="-mx-4">
				<column md="1/5" class="p-4">
					<h2>Navy</h2>
					<div class="w-100 h-24 bg-navy-lightest"></div>
					<div class="w-100 h-24 bg-navy-lighter"></div>
					<div class="w-100 h-24 bg-navy-light"></div>
					<div class="w-100 h-24 bg-navy"></div>
					<div class="w-100 h-24 bg-navy-dark"></div>
					<div class="w-100 h-24 bg-navy-darker"></div>
					<div class="w-100 h-24 bg-navy-darkest"></div>
				</column>
				<column md="1/5" class="p-4">
					<h2>Blue</h2>
					<div class="w-100 h-24 bg-blue-lightest"></div>
					<div class="w-100 h-24 bg-blue-lighter"></div>
					<div class="w-100 h-24 bg-blue-light"></div>
					<div class="w-100 h-24 bg-blue"></div>
					<div class="w-100 h-24 bg-blue-dark"></div>
					<div class="w-100 h-24 bg-blue-darker"></div>
					<div class="w-100 h-24 bg-blue-darkest"></div>
				</column>
				<column md="1/5" class="p-4">
					<h2>Yellow</h2>
					<div class="w-100 h-24 bg-yellow-lightest"></div>
					<div class="w-100 h-24 bg-yellow-lighter"></div>
					<div class="w-100 h-24 bg-yellow-light"></div>
					<div class="w-100 h-24 bg-yellow"></div>
					<div class="w-100 h-24 bg-yellow-dark"></div>
					<div class="w-100 h-24 bg-yellow-darker"></div>
					<div class="w-100 h-24 bg-yellow-darkest"></div>
				</column>
				<column md="1/5" class="p-4">
					<h2>Red</h2>
					<div class="w-100 h-24 bg-red-lightest"></div>
					<div class="w-100 h-24 bg-red-lighter"></div>
					<div class="w-100 h-24 bg-red-light"></div>
					<div class="w-100 h-24 bg-red"></div>
					<div class="w-100 h-24 bg-red-dark"></div>
					<div class="w-100 h-24 bg-red-darker"></div>
					<div class="w-100 h-24 bg-red-darkest"></div>
				</column>
				<column md="1/5" class="p-4">
					<h2>Greyscale</h2>
					<div class="w-100 h-24 bg-grey-lightest"></div>
					<div class="w-100 h-24 bg-grey-lighter"></div>
					<div class="w-100 h-24 bg-grey-light"></div>
					<div class="w-100 h-24 bg-grey"></div>
					<div class="w-100 h-24 bg-grey-dark"></div>
					<div class="w-100 h-24 bg-grey-darker"></div>
					<div class="w-100 h-24 bg-grey-darkest"></div>
				</column>
			</row>
			<h1 class="pt-8">Buttons</h1>
			<row class="-mx-4">
				<column md="1/3" class="p-4">
					<h2>Normal</h2>
					<p>Normal buttons should be used on colored or dark grey backgrounds. Should not be used next to
						shadow
						buttons.</p>
				</column>
				<column md="1/3" class="p-4">
					<h2>Shadow</h2>
					<p>Shadow buttons should be used on white or light grey backgrounds.</p>
				</column>
				<column md="1/3" class="p-4">
					<h2>Outline</h2>
					<p>Outline buttons should be styled in shades opposite their background color (dark -> light and
						vice
						versa). Should not be used next to shadow buttons.</p>
				</column>
				<column md="1/3" class="p-4">
					<dmds-button to="#" size="sm">Click Me!</dmds-button>
				</column>
				<column md="1/3" class="p-4">
					<dmds-button to="#" shadow>Click Me!</dmds-button>
				</column>
				<column md="1/3" class="p-4">
					<dmds-button to="#" outline>Click Me!</dmds-button>
				</column>
				<column md="1/3" class="p-4">
					<dmds-button to="#" color="red" size="md">Click Me!</dmds-button>
				</column>
				<column md="1/3" class="p-4">
					<dmds-button to="#" color="red" shadow>Click Me!</dmds-button>
				</column>
				<column md="1/3" class="p-4">
					<dmds-button to="#" color="red" outline>Click Me!</dmds-button>
				</column>
				<column md="1/3" class="p-4">
					<dmds-button to="#" color="yellow" size="lg">Click Me!</dmds-button>
				</column>
				<column md="1/3" class="p-4">
					<dmds-button to="#" color="yellow" shadow>Click Me!</dmds-button>
				</column>
				<column md="1/3" class="p-4">
					<dmds-button to="#" color="yellow" outline>Click Me!</dmds-button>
				</column>
				<column md="1/3" class="p-4">
					<dmds-button to="#" color="navy">Click Me!</dmds-button>
				</column>
				<column md="1/3" class="p-4">
					<dmds-button to="#" color="navy" shadow>Click Me!</dmds-button>
				</column>
				<column md="1/3" class="p-4">
					<dmds-button to="#" color="navy" outline>Click Me!</dmds-button>
				</column>
			</row>
			<h1 class="pt-8">Cards</h1>
			<row class="-mx-6">
				<column md="1/2" class="p-6">
					<dmds-card class="p-6 bg-white">
						<h3 class="mb-2">Card</h3>
						<p class="leading-normal">The cards are incredibly flexible. Lorem ipsum dolor sit amet,
							consectetur
							adipiscing elit.
							Integer auctor leo sit amet mattis pulvinar. Integer iaculis blandit nibh, at eleifend massa
							commodo id. Nulla eros sapien, maximus eget lectus iaculis, vestibulum ullamcorper ex.
							Praesent
							vitae consectetur augue, nec sollicitudin ligula. Nam quis nulla tortor.</p>
					</dmds-card>
				</column>
				<column md="1/2" class="p-6">
					<dmds-card class="p-6 bg-grey-darkest text-white">
						<h3 class="mb-2">Card</h3>
						<p class="leading-normal">The cards are incredibly flexible. Lorem ipsum dolor sit amet,
							consectetur
							adipiscing elit.
							Integer auctor leo sit amet mattis pulvinar. Integer iaculis blandit nibh, at eleifend massa
							commodo id. Nulla eros sapien, maximus eget lectus iaculis, vestibulum ullamcorper ex.
							Praesent
							vitae consectetur augue, nec sollicitudin ligula. Nam quis nulla tortor.</p>
					</dmds-card>
				</column>
				<column md="1/2" class="p-6">
					<dmds-card class="p-6 bg-navy text-white">
						<h3 class="mb-2">Card</h3>
						<p class="leading-normal">The cards are incredibly flexible. Lorem ipsum dolor sit amet,
							consectetur
							adipiscing elit.
							Integer auctor leo sit amet mattis pulvinar. Integer iaculis blandit nibh, at eleifend massa
							commodo id. Nulla eros sapien, maximus eget lectus iaculis, vestibulum ullamcorper ex.
							Praesent
							vitae consectetur augue, nec sollicitudin ligula. Nam quis nulla tortor.</p>
					</dmds-card>
				</column>
				<column md="1/2" class="p-6">
					<dmds-card class="bg-navy text-white">
						<dmds-background-image image="/images/storrs.jpg" :opacity="1" color="navy"
						                       title="Storrs" class="p-6">
							<h3 class="mb-2">Card</h3>
							<p class="leading-normal">The cards are incredibly flexible. Lorem ipsum dolor sit amet,
								consectetur
								adipiscing elit.
								Integer auctor leo sit amet mattis pulvinar. Integer iaculis blandit nibh, at eleifend
								massa
								commodo id. Nulla eros sapien, maximus eget lectus iaculis, vestibulum ullamcorper ex.
								Praesent
								vitae consectetur augue, nec sollicitudin ligula. Nam quis nulla tortor.</p>
						</dmds-background-image>
					</dmds-card>
				</column>
				<column md="1/2" class="p-6">
					<dmds-card class="p-6 bg-yellow-dark text-white">
						<h3 class="mb-2">Card</h3>
						<p class="leading-normal">The cards are incredibly flexible. Lorem ipsum dolor sit amet,
							consectetur
							adipiscing elit.
							Integer auctor leo sit amet mattis pulvinar. Integer iaculis blandit nibh, at eleifend massa
							commodo id. Nulla eros sapien, maximus eget lectus iaculis, vestibulum ullamcorper ex.
							Praesent
							vitae consectetur augue, nec sollicitudin ligula. Nam quis nulla tortor.</p>
					</dmds-card>
				</column>
				<column md="1/2" class="p-6">
					<dmds-card class="bg-yellow-dark text-white">
						<dmds-background-image image="/images/storrs.jpg" :opacity="0.5"
						                       color="yellow-dark"
						                       title="Storrs" class="p-6">
							<h3 class="mb-2">Card</h3>
							<p class="leading-normal">The cards are incredibly flexible. Lorem ipsum dolor sit amet,
								consectetur
								adipiscing elit.
								Integer auctor leo sit amet mattis pulvinar. Integer iaculis blandit nibh, at eleifend
								massa
								commodo id. Nulla eros sapien, maximus eget lectus iaculis, vestibulum ullamcorper ex.
								Praesent
								vitae consectetur augue, nec sollicitudin ligula. Nam quis nulla tortor.</p>
						</dmds-background-image>
					</dmds-card>
				</column>
				<column md="1/2" class="p-6">
					<dmds-card class="p-6 bg-red-dark text-white">
						<h3 class="mb-2">Card</h3>
						<p class="leading-normal">The cards are incredibly flexible. Lorem ipsum dolor sit amet,
							consectetur
							adipiscing elit.
							Integer auctor leo sit amet mattis pulvinar. Integer iaculis blandit nibh, at eleifend massa
							commodo id. Nulla eros sapien, maximus eget lectus iaculis, vestibulum ullamcorper ex.
							Praesent
							vitae consectetur augue, nec sollicitudin ligula. Nam quis nulla tortor.</p>
					</dmds-card>
				</column>
				<column md="1/2" class="p-6">
					<dmds-card class="bg-red-dark text-white">
						<dmds-background-image image="/images/storrs.jpg" :opacity="0.5"
						                       color="red-dark"
						                       title="Storrs" class="p-6">
							<h3 class="mb-2">Card</h3>
							<p class="leading-normal">The cards are incredibly flexible. Lorem ipsum dolor sit amet,
								consectetur
								adipiscing elit.
								Integer auctor leo sit amet mattis pulvinar. Integer iaculis blandit nibh, at eleifend
								massa
								commodo id. Nulla eros sapien, maximus eget lectus iaculis, vestibulum ullamcorper ex.
								Praesent
								vitae consectetur augue, nec sollicitudin ligula. Nam quis nulla tortor.</p>
						</dmds-background-image>
					</dmds-card>
				</column>
				<column md="1/2" class="p-6">
					<dmds-card class="p-6 bg-blue text-white">
						<h3 class="mb-2">Card</h3>
						<p class="leading-normal">The cards are incredibly flexible. Lorem ipsum dolor sit amet,
							consectetur
							adipiscing elit.
							Integer auctor leo sit amet mattis pulvinar. Integer iaculis blandit nibh, at eleifend massa
							commodo id. Nulla eros sapien, maximus eget lectus iaculis, vestibulum ullamcorper ex.
							Praesent
							vitae consectetur augue, nec sollicitudin ligula. Nam quis nulla tortor.</p>
					</dmds-card>
				</column>
				<column md="1/2" class="p-6">
					<dmds-card class="bg-blue text-white">
						<dmds-background-image image="/images/storrs.jpg" color="blue"
						                       title="Storrs" class="p-6">
							<h3 class="mb-2">Card</h3>
							<p class="leading-normal">The cards are incredibly flexible. Lorem ipsum dolor sit amet,
								consectetur
								adipiscing elit.
								Integer auctor leo sit amet mattis pulvinar. Integer iaculis blandit nibh, at eleifend
								massa
								commodo id. Nulla eros sapien, maximus eget lectus iaculis, vestibulum ullamcorper ex.
								Praesent
								vitae consectetur augue, nec sollicitudin ligula. Nam quis nulla tortor.</p>
						</dmds-background-image>
					</dmds-card>
				</column>
			</row>
		</container>
		<dmds-section-header :level="1" header="Level 1 Section Header"
		                     sub-header="Section Sub Header. This can be a little longer"
		                     background="/images/stamford-lg.jpg" tall color="white"
		                     :cta="{text:'Section Header CTA', color:'blue-dark', to:'#', shadow: true}"
		                     background-color="blue-dark" shadow-text :shadow-text-offset="-30"></dmds-section-header>
		<div class="h-64"></div>
		<dmds-section-header :level="2" header="Level 2 Section Header"
		                     sub-header="Section Sub Header. This can be a little longer"
		                     background="/images/stamford-lg.jpg" tall color="white"
		                     :cta="{text:'Section Header CTA', color:'yellow-dark', to:'#', shadow: true}"
		                     background-color="yellow-dark" shadow-text :shadow-text-offset="-30"></dmds-section-header>
		<div class="h-64"></div>
		<dmds-section-header :level="3" header="Level 3 Section Header"
		                     sub-header="Section Sub Header. This can be a little longer"
		                     background="/images/stamford-lg.jpg" tall color="white"
		                     :cta="{text:'Section Header CTA', color:'red-dark', to:'#', shadow: true}"
		                     background-color="red-dark" shadow-text :shadow-text-offset="-30"></dmds-section-header>
		<dmds-section class="bg-blue-lightest">
			<dmds-hr-header>
				<h1>This is a header in a section</h1>
			</dmds-hr-header>
			<row class="-mx-2">
				<column md="1/2" class="p-2">
					<p>The background can be any color, as well as the text. The font size for the heading is variable
						as well. Additionally, all of the padding scales correctly to make it a more compact design on
						mobile. </p>
				</column>
				<column md="1/2" class="p-2">
					<p>Anything can go in these sections, cards, text, or custom content. Here, we have a simple two
						column textual layout, but this is made with <code>&lt;p&gt;</code> tags and the grid system
						components.</p>
				</column>
			</row>
		</dmds-section>
	</div>
</template>

<script>
	import components from '~/components'
	import navigation from '~/components/layout/navigation/navigation.vue'
	import landingSlider from '~/components/landing/LandingSlider.vue'
	import tailwind from '~/tailwind.js'

	export default {
		name: "sink",
		components: {
			...components,
			navigation,
			landingSlider
		},
		data() {
			return {
				slides: [
					'/images/film.jpg',
					'/images/matt.jpg',
					'/images/emily.jpg',
					'/images/kevin.jpg',
					'/images/dmd.jpg',
				],
			}
		},
		computed: {
			colors() {
				return tailwind.colors
			}
		}
	}
</script>

<style scoped>

</style>