<template>
	<main>
		<dmds-section-header :level="1" header="Campuses"
		                     tall color="white" background-color="blue-dark" shadow-text
		                     :shadow-text-offset="0" :bottom-nav="bottomNav" background="/images/department.jpg"
		                     :breadcrumbs="[{to:'/department',title:'Department'}]"></dmds-section-header>
		<dmds-section fade>
			<dmds-hr-header>
				<h2 class="text-2xl">Campuses</h2>
			</dmds-hr-header>
			<row class="-mx-2">
				<column class="p-2" md="1/2" v-for="campus in campuses" :key="campus.id">
					<dmds-card>
						<dmds-background-image :image="imageURL(campus.image.path)" color="blue-darker"
						                       class="p-6 md:p-8 text-white">
							<h1 class="mb-3">{{campus.name}}</h1>
							<div class="mb-6" v-html="campus.short_description"></div>
							<dmds-button :to="'/department/campuses/' + campus.slug">Learn More</dmds-button>
						</dmds-background-image>
					</dmds-card>
				</column>
			</row>
		</dmds-section>
	</main>
</template>

<script>
	import {
		DmdsSection,
		DmdsSectionHeader,
		DmdsHrHeader,
		DmdsButton,
		DmdsCard,
		DmdsBackgroundImage
	} from '~/components/ui'
	import {Row, Column} from '~/components/grid'
	import imageURL from '~/mixins/imageURL'

	export default {
		name: "allCampuuses",
		mixins: [imageURL],
		components: {
			DmdsSection,
			DmdsSectionHeader,
			DmdsHrHeader,
			DmdsBackgroundImage,
			DmdsButton,
			DmdsCard,
			Row,
			Column
		},
		data() {
			return {
				bottomNav: [
					{to: '/department/campuses', title: 'Campuses', active: true},
					{to: '/department/faculty', title: 'Faculty'},
					{to: '/department/outreach', title: 'Outreach'},
					{to: '/department/research', title: 'Research'},
				]
			}
		},
		async asyncData({app}) {
			const campuses = await app.$axios.get(process.env.API_URL + 'channels/campuses/entries').then(res => res.data)
			return {
				campuses: campuses
			}
		},
	}
</script>

<style scoped>

</style>