<template>
	<header class="header md:p-8">
		<div class="text-container">
			<div class="text" v-for="(text, index) in words" :key="index" :id="'text-' + index">
				<span v-for="(char, i) in text" :key="i">{{char}}</span>
			</div>
		</div>
	</header>
</template>

<script>
	// @contributor Tyler Pepin
	// @contributor Kevin Richetelli
	// @contributor Shawna Gilson

	import {
		PerspectiveCamera,
		Scene,
		WebGLRenderer,
		Group,
		PointLight,
		TextureLoader,
		Clock
	} from 'three'
	import {Lensflare, LensflareElement} from "./three/Lensflare";
	import {EffectComposer, BlurPass, RenderPass} from "postprocessing";
	import {TimelineMax} from 'gsap'
	import BuckeyBallGenerator from '~/components/landing/BuckeyBallGenerator'

	import {DmdsButton} from '~/components/ui'


	export default {
		name: "banner",
		components: {
			DmdsButton,
		},
		data() {
			return {
				CAMERA: null,
				COMPOSER: null,
				MAIN_GROUP: null,
				BUCKEYBALLS: {
					GROUP: null,
					LAYER1: null,
					LAYER2: null,
					LAYER3: null,
				},
				clock: new Clock(),
				tick: 0,
				mouse: {
					x: 0,
					y: 0
				},
				rotateOffset: {
					x: 0,
					y: 0,
				},
				windowWidth: 0,
				windowHeight: 0,
				raf: null,
			}
		},
		props: {
			words: {
				type: Array,
				required: true,
			}
		},
		methods: {
			init() {
				let textureLoader = new TextureLoader();
				const sceneBG = textureLoader.load("textures/gradient_bg.png")
				const textureFlare = textureLoader.load("textures/flare_alpha.png")

				const SCENE = new Scene()
				SCENE.background = sceneBG

				this.CAMERA = new PerspectiveCamera(75, window.innerWidth / (window.innerHeight - 150), 0.1, 1000);

				const RENDERER = new WebGLRenderer({
					antialias: true,
				});
				RENDERER.setPixelRatio(window.devicePixelRatio)
				RENDERER.setSize(window.innerWidth, window.innerHeight);
				RENDERER.autoClear = true
				RENDERER.setClearColor(0x000000, 0.0)
				this.$el.appendChild(RENDERER.domElement)
				RENDERER.domElement.classList.add('shadow-lg')

				this.MAIN_GROUP = new Group()

				const MAIN_LIGHT = new PointLight(0x6BD6E5, 2, 6, 2);

				this.MAIN_GROUP.add(MAIN_LIGHT)

				const FLARE_LIGHT = new PointLight(0xffffff, 0, 0, 0)

				const flare = new Lensflare();
				flare.addElement(new LensflareElement(textureFlare, 1500, 0))
				FLARE_LIGHT.add(flare)

				FLARE_LIGHT.position.z = 5

				SCENE.add(FLARE_LIGHT)

				this.BUCKEYBALLS.LAYER1 = BuckeyBallGenerator.Generate(0.03, 0.6, 4, 3, true)
				this.BUCKEYBALLS.LAYER2 = BuckeyBallGenerator.Generate(0.024, 0.65, 3, 4)
				this.BUCKEYBALLS.LAYER3 = BuckeyBallGenerator.Generate(0.018, 0.75, 2, 4)

				const BUCKEYBALLSGROUP = new Group()
				BUCKEYBALLSGROUP.add(this.BUCKEYBALLS.LAYER1)
				BUCKEYBALLSGROUP.add(this.BUCKEYBALLS.LAYER2)
				BUCKEYBALLSGROUP.add(this.BUCKEYBALLS.LAYER3)

				BUCKEYBALLSGROUP.rotation.z = -0.4

				this.MAIN_GROUP.add(BUCKEYBALLSGROUP)

				this.CAMERA.position.z = 6
				SCENE.add(this.MAIN_GROUP)

				this.COMPOSER = new EffectComposer(RENDERER);
				this.COMPOSER.addPass(new RenderPass(SCENE, this.CAMERA));

				const blurPass = new BlurPass({
					resolution: 1,
					kernalSize: 0,
					strength: 0,
				})

				blurPass.renderToScreen = true
				this.COMPOSER.addPass(blurPass)


				let master = new TimelineMax({repeat: -1, repeatDelay: 3})
				let j = 3
				for (let i = 0; i < this.words.length; i++) {
					let t = this.generateTransitionTimeline(i)
					master.add(t, j)
					j += 6
				}

				return Promise.resolve()
			},
			update() {
				this.raf = window.requestAnimationFrame(this.update.bind(this))

				this.rotateOffset = {
					x: this.rotateOffset.x - (this.rotateOffset.x - this.mouse.x) * 0.05,
					y: this.rotateOffset.y - (this.rotateOffset.y - this.mouse.y) * 0.05,
				}

				this.MAIN_GROUP.rotation.y = this.rotateOffset.x
				this.MAIN_GROUP.rotation.x = this.rotateOffset.y

				let delta = this.clock.getDelta();

				this.tick += delta * 0.4;

				this.BUCKEYBALLS.LAYER1.rotation.y = this.tick * -0.5
				this.BUCKEYBALLS.LAYER2.rotation.y = this.tick * -1.5
				this.BUCKEYBALLS.LAYER3.rotation.y = this.tick * -4

				this.COMPOSER.render(delta)
			},
			generateTransitionTimeline(start) {
				const currentWordTimeline = new TimelineMax()
				const nextWordTimeline = new TimelineMax()

				const currentWord = this.$el.querySelector('#text-' + start)

				const cw_even = this.words[start].length % 2 === 0
				const cw_center = Math.ceil(this.words[start].length * 0.5)

				start = start + 1

				if (start === this.words.length) {
					start = 0
				}

				const nextWord = this.$el.querySelector('#text-' + start)

				const nw_even = this.words[start].length % 2 === 0
				const nw_center = Math.ceil(this.words[start].length * 0.5)

				const spacing = 0.05
				const duration = 0.1
				const translation = 15

				if (cw_even) {
					currentWordTimeline.to(currentWord.querySelector(`span:nth-child(${cw_center})`), duration, {
						opacity: 0,
						x: `-${translation}%`
					})
					currentWordTimeline.to(currentWord.querySelector(`span:nth-child(${cw_center + 1})`), duration, {
						opacity: 0,
						x: `${translation}%`,
					}, `-=${duration}`)
				} else {
					currentWordTimeline.to(currentWord.querySelector(`span:nth-child(${cw_center})`), duration, {
						opacity: 0
					})
				}
				for (let i = 1; i < cw_center; i++) {
					const offset = cw_even ? 1 : 0
					currentWordTimeline.to(currentWord.querySelector(`span:nth-child(${cw_center - i})`), duration, {
						opacity: 0,
						x: `-${translation}%`,
					}, `-=${spacing}`)
					currentWordTimeline.to(currentWord.querySelector(`span:nth-child(${cw_center + i + offset})`), duration, {
						opacity: 0,
						x: `${translation}%`,
					}, `-=${duration}`)
				}

				if (nw_even) {
					nextWordTimeline.to(nextWord.querySelector(`span:nth-child(${nw_center})`), duration, {
						opacity: 1,
						x: '0%',
					})
					nextWordTimeline.to(nextWord.querySelector(`span:nth-child(${nw_center + 1})`), duration, {
						opacity: 1,
						x: '0%',
					}, `-=${duration}`)
				} else {
					nextWordTimeline.to(nextWord.querySelector(`span:nth-child(${nw_center})`), duration, {
						opacity: 1
					})
				}
				for (let i = 1; i < nw_center; i++) {
					const offset = nw_even ? 1 : 0
					nextWordTimeline.to(nextWord.querySelector(`span:nth-child(${nw_center - i})`), duration, {
						opacity: 1,
						x: '0%',
					}, `-=${spacing}`)
					nextWordTimeline.to(nextWord.querySelector(`span:nth-child(${nw_center + i + offset})`), duration, {
						opacity: 1,
						x: '0%',
					}, `-=${duration}`)
				}

				let output = new TimelineMax()
				output.add(currentWordTimeline)
				output.add(nextWordTimeline, 0.15)

				return output
			},
			resize() {
				this.windowWidth = window.innerWidth
				this.windowHeight = window.innerHeight - 222

				this.$el.style.height = (this.windowHeight) + 'px'

				this.CAMERA.aspect = this.windowWidth / this.windowHeight
				this.CAMERA.updateProjectionMatrix()

				this.COMPOSER.setSize(this.windowWidth, this.windowHeight)
			},
			mouseMove(e) {
				// calculate, in %, the x position of the mouse on the screen
				this.mouse.x = (0.5 - e.clientX / this.windowWidth) * this.windowWidth * 0.001
				this.mouse.y = (0.5 - e.clientY / this.windowHeight) * this.windowHeight * 0.002
			}
		},
		mounted() {
			if (process.browser) {
				this.init().then(() => {
					this.resize()
					this.raf = window.requestAnimationFrame(this.update.bind(this))

					window.addEventListener('mousemove', this.mouseMove, false)
					window.addEventListener('resize', this.resize, false)
				})
			}
		},
		beforeDestroy() {
			window.cancelAnimationFrame(this.raf)
			window.removeEventListener('mousemove', this.mouseMove, false)
			window.removeEventListener('resize', this.resize, false)
		}
	}
</script>

<style>
	.header {
		position: relative;
		min-height: 300px;
		overflow: hidden;
	}

	.header > canvas {
		width: 100% !important;
		height: 100% !important;
		background-image: linear-gradient(to bottom, #3E4551, #090B0A)
	}

	.text-container {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 1;
	}

	.text {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: white;
		font-size: 15vmin;
		display: flex;
		justify-content: center;
	}

	.text span {
		display: block;
		opacity: 0;
		text-shadow: 0 0 0.2em rgba(0, 0, 0, 0.2);
		text-transform: uppercase;
	}

	.text:first-child span {
		opacity: 1;
	}
</style>