<template>
	<div class="landing-slider">
		<div v-for="(slide, index) in slides" :key="index" class="slide" :id="'slide-' + index">
			<div class="slide-inner">
				<div class="slide-shield" :style="{'background-color': color}"></div>
				<div class="slide-img" :style="{'background': `url(${slide}) center/cover, ${color}`}"></div>
			</div>
		</div>
		<header class="landing-header">
			<h1 class="landing-header-title font-serif tracking-wide">Lorem Ipsm Dolor</h1>
			<div class="landing-header-divider bg-white w-100 my-3" style="height:1px"></div>
			<div class="landing-header-body leading-normal">
				<p>Lorem ipsum dolor sit amet, adipiscing elit. Fusce tempus ex
					non ultrices.</p>
				<dmds-button size="md" class="mt-4" style="font-size: 70%">Show Me</dmds-button>
			</div>
		</header>
	</div>
</template>

<script>
	import {Expo, Power1, TimelineLite, TweenMax} from 'gsap'
	import ModifiersPlugin from 'gsap/ModifiersPlugin'
	import ScrollToPlugin from 'gsap/ScrollToPlugin'
	import * as ui from '~/components/ui'

	export default {
		name: "landing-slider",
		components: {
			...ui,
		},
		props: {
			slides: {
				type: Array,
				required: true,
				validate(input) {
					return input.length === 5
				}
			},
			color: {
				type: String,
				required: true,
			}
		},
		data() {
			return {
				parallaxTweens: [],
				// initialize with 1 so that initial calculations do not reach infinity
				windowWidth: 1,
				mouseX: 1
			}
		},
		methods: {
			showImage(i) {
				// show the image
				this.$el.querySelector(`#slide-${i} .slide-img`).style.display = 'block'

				// switch the anchor point for the shield
				this.$el.querySelector(`#slide-${i} .slide-shield`).style.transformOrigin = (i % 2 === 0) ? 'bottom' : 'top'
			},
			setBackground() {
				this.$el.style.backgroundColor = this.color;
			},
			mouseMove(e) {
				// calculate, in %, the x position of the mouse on the screen
				this.mouseX = (0.5 - e.clientX / this.windowWidth) * this.windowWidth * 0.02
			},
			resize(e) {
				// collect the new width of the window
				this.windowWidth = window.innerWidth

				if (e && e.clientX) {
					this.mouseMove(e)
				}
			}
		},
		mounted() {
			if (process.browser) {
				this.resize();

				let master = new TimelineLite({
					paused: true,
					onComplete: this.setBackground,
				})

				for (let i = 0; i < this.slides.length; i++) {
					let t = new TimelineLite()
					const slideInner = this.$el.querySelector(`#slide-${i} .slide-inner`)
					const slideShield = this.$el.querySelector(`#slide-${i} .slide-shield`)
					const slideImg = this.$el.querySelector(`#slide-${i} .slide-img`)
					t.to(slideShield, 0.4, {
						scaleY: '1.0',
						ease: Power1.easeInOut,
						onComplete: this.showImage,
						onCompleteParams: [i],
					})
					t.to(slideShield, 0.4, {scaleY: '0.0', ease: Power1.easeInOut})
					t.to(slideInner, 0.4, {scaleX: 1, scaleY: 1, ease: Expo.easeInOut})
					t.to(slideImg, 0.4, {scale: "1.1", ease: Expo.easeInOut}, '-=0.4')
					master.add(t, i * 0.05);

					TweenMax.to(slideImg, 10, {
						x: 0,
						repeat: -1,
						modifiers: {
							x: () => {
								return slideImg._gsTransform.x - (slideImg._gsTransform.x - this.mouseX) * 0.05
							}
						}
					})
				}

				let title = new TimelineLite()
				const headerTitle = this.$el.querySelector('.landing-header-title')
				const headerDivider = this.$el.querySelector('.landing-header-divider')
				const headerBody = this.$el.querySelector('.landing-header-body')
				title.to(headerDivider, 0.4, {scaleX: '1', ease: Expo.easeInOut})
				title.to(headerTitle, 0.4, {opacity: 1, y: '0', ease: Power1.easeInOut}, '-=0.2')
				title.to(headerBody, 0.4, {opacity: 1, y: '0', ease: Power1.easeInOut}, '-=0.35')
				master.add(title, 1.0)

				master.delay(0.1).play()

				this.$el.querySelector('.dmds-button').addEventListener('click', (e) => {
					e.preventDefault()
					TweenMax.to(window, 1.0, {
						scrollTo: '#overview',
						ease: Power1.easeInOut,
					})
				}, false)

				window.addEventListener('mousemove', this.mouseMove, false)
				window.addEventListener('resize', this.resize, false)

			}
		},
		beforeDestroy() {
			window.removeEventListener('mousemove', this.mouseMove, false)
			window.removeEventListener('resize', this.resize, false)
		}
	}
</script>

<style scoped>
	.landing-slider {
		width: 100%;
		height: calc(100vh - 210px);
		min-height: 250px;
		display: flex;
		align-items: stretch;
		justify-content: flex-start;
		position: relative;
	}

	.slide {
		flex: auto;
		height: 100%;
		display: none;
	}

	.slide:first-child {
		display: block;
	}

	@media (min-width: 666px) {
		.slide:nth-child(odd) {
			display: block;
		}
	}

	@media (min-width: 1200px) {
		.slide {
			display: block;
		}
	}

	.slide-inner {
		position: relative;
		width: 100%;
		height: 100%;
		overflow: hidden;
		display: flex;
		align-items: center;
		justify-content: center;
		transform: scaleX(0.6) scaleY(0.65);
		will-change: transform;
	}

	.slide-shield {
		position: absolute;
		left: 0;
		height: 100%;
		width: 100%;
		z-index: 1;
		transform: scaleY(0);
		transform-origin: top;
		will-change: transform;
	}

	.slide:nth-child(odd) .slide-shield {
		transform-origin: top;
		top: 0;
	}

	.slide:nth-child(even) .slide-shield {
		transform-origin: bottom;
		bottom: 0;
	}

	.slide-img {
		display: none;
		width: 100%;
		height: 100%;
		transform: scale(1.75);
		will-change: transform;
		background-blend-mode: multiply;
	}

	.landing-header {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: white;
		font-size: 13px;
		width: 90vw;
		max-width: 45rem;
		text-align: center;
		will-change: width;
	}

	@media screen and (min-width: 320px) {
		.landing-header {
			font-size: 4vw;
		}
	}

	@media screen and (min-width: 736px) {
		.landing-header {
			font-size: 30px;
		}
	}

	.landing-header-title {
		opacity: 0;
		transform: translateY(0.5rem);
		will-change: transform, opacity;
	}

	.landing-header-divider {
		transform: scaleX(0);
		will-change: transform;
	}

	.landing-header-body {
		opacity: 0;
		transform: translateY(-0.5rem);
		will-change: transform, opacity;
	}
</style>