<template>
	<div class="flex flex-nowrap overflow-hidden items-stretch">
		<div class="work-side work-l flex-grow flex-no-shrink relative z-50"></div>
		<div class="work-center flex-shrink container py-6 md:py-12 relative">
			<dmds-hr-header color="grey" class="mb-4"><h1 class="text-4xl text-center">Featured Student Work</h1>
			</dmds-hr-header>
			<div class="work-container relative">
				<div class="work-container-spacer"></div>
				<div class="work-container-inner absolute pin-l pin-t flex justify-start h-full">
					<figure class="work m-0 h-full md:p-4 flex items-stretch overflow-hidden"
					        v-for="(work, index) in works" :key="index"
					        :style="{width: slideWidth + 'px', opacity: currentSlide === index ? 1 : 0.25}">
						<div class="work-inner w-full flex items-center justify-center shadow-md"
						     :style="{background: `url(${work.image}) center/cover`}">
						</div>
					</figure>
				</div>
			</div>
			<div class="work-description-container md:px-8">
				<div class="work-description-container-inner p-6 bg-grey-darkest text-white relative flex justify-start items-center flex-wrap md:flex-no-wrap shadow">
					<div class="work-description-shield bg-black"></div>
					<h1 class="flex-grow text-lg md:text-xl lg:text-2xl w-full mb-2 md:w-auto md:mb-0">{{ currentTitle
						}}</h1>
					<dmds-button outline class="mx-2">View</dmds-button>
					<dmds-button>All Work</dmds-button>
				</div>
			</div>
		</div>
		<div class="work-side work-r flex-grow flex-no-shrink relative z-50"></div>
	</div>
</template>

<script>
	import {Power1, TimelineLite, TweenMax} from 'gsap'
	import ModifiersPlugin from 'gsap/ModifiersPlugin'
	import DmdsButton from '../ui/DmdsButton'
	import DmdsHrHeader from '../ui/DmdsHrHeader'
	import tailwind from '~/tailwind'

	export default {
		name: "work-slider",
		components: {
			DmdsButton,
			DmdsHrHeader,
		},
		data() {
			return {
				slideWidth: 0,
				mouseX: 0,
				windowWidth: 0,
				currentSlide: 0,
				currentTitle: 'Work Title Goes Here',
				animating: false,
				nextBtn: null,
				prevBtn: null,
				container: null,
				innerContainer: null,
				descriptionContainer: null,
				descriptionContainerInner: null,
				descriptionShield: null,
				works: [
					{
						name: "New Digital Media & Design Hats!",
						image: "/images/dmd.jpg",
						description: "This is a beautiful Storrs storry. Lorem Ipsum dolor, sit amet."
					},
					{
						name: "Emily Made a Website and you should REALLY check it out!",
						image: "/images/emily.jpg",
						description: "This is a beautiful Storrs storry. Lorem Ipsum dolor, sit amet."
					},
					{
						name: "This One shows off how awesome our kids are! Look they're making a movie! A friggin' movie! Moaarr wooooorrrrdddsss lol.",
						image: "/images/film.jpg",
						description: "This is a beautiful Storrs storry. Lorem Ipsum dolor, sit amet."
					}, {
						name: "Storrs is a really good looking place. Also I like how this crop is actually correct",
						image: "/images/storrs.jpg",
						description: "This is a beautiful Storrs storry. Lorem Ipsum dolor, sit amet."
					}
				]
			}
		},
		methods: {
			resize(e) {
				this.slideWidth = this.$el.querySelector('.work-container-spacer').getBoundingClientRect().width
				// collect the new width of the window
				this.windowWidth = window.innerWidth

				if (e && e.clientX) {
					this.mouseMove(e)
				}
				if (this.innerContainer !== null) {
					this.updateSlider()
				}
			},
			mouseMove(e) {
				// calculate, in %, the x position of the mouse on the screen
				if (this.windowWidth < tailwind.screensRaw.md) {
					this.mouseX = 0
				} else {
					this.mouseX = (0.5 - e.clientX / this.windowWidth) * this.windowWidth * 0.03
				}
			},
			updateSlider() {
				this.animating = true

				TweenMax.to(this.innerContainer, 0.7, {
					x: -(this.currentSlide * this.slideWidth),
					ease: Power1.easeInOut,
					onComplete: (t) => {
						t.animating = false
					},
					onCompleteParams: [this]
				})
			},
			updateDescription(direction) {
				const startOrigin = direction === 'next' ? 'right' : 'left'
				const endOrigin = direction === 'next' ? 'left' : 'right'

				let t = new TimelineLite()
				this.descriptionShield.style.transformOrigin = startOrigin
				t.to(this.descriptionShield, 0.3, {
					scaleX: '1.0',
					ease: Power1.easeInOut,
					onComplete: (_this, origin, title) => {
						_this.descriptionShield.style.transformOrigin = origin
						_this.currentTitle = title
					},
					onCompleteParams: [this, endOrigin, this.works[this.currentSlide].name]
				})
				t.to(this.descriptionShield, 0.3, {
					scaleX: '0.0',
					ease: Power1.easeInOut,
				})
			},
			next() {
				if (this.animating) {
					return
				}
				if (this.currentSlide === this.works.length - 1) {
					return
				}
				this.currentSlide++

				this.updateSlider()
				this.updateDescription('next')
			},
			prev() {
				if (this.animating) {
					return
				}
				if (this.currentSlide === 0) {
					return
				}

				this.currentSlide--

				this.updateSlider()
				this.updateDescription('prev')
			},
		},
		mounted() {
			if (process.browser) {
				this.resize()

				const workContainer = this.$el.querySelector('.work-container')
				this.container = workContainer
				TweenMax.to(workContainer, 10, {
					x: 0,
					repeat: -1,
					modifiers: {
						x: () => {
							return workContainer._gsTransform.x - (workContainer._gsTransform.x - this.mouseX * 1.5) * 0.075
						}
					}
				})

				this.innerContainer = this.$el.querySelector('.work-container-inner')

				const descriptionContainer = this.$el.querySelector('.work-description-container')
				this.descriptionContainer = descriptionContainer
				// TweenMax.to(descriptionContainer, 10, {
				// 	x: 0,
				// 	repeat: -1,
				// 	modifiers: {
				// 		x: () => {
				// 			return descriptionContainer._gsTransform.x - (descriptionContainer._gsTransform.x - this.mouseX) * 0.075
				// 		}
				// 	}
				// })
				this.descriptionShield = this.$el.querySelector('.work-description-shield')

				this.nextBtn = this.$el.querySelector('.work-r')
				this.nextBtn.addEventListener('click', this.next, false)
				this.prevBtn = this.$el.querySelector('.work-l')
				this.prevBtn.addEventListener('click', this.prev, false)

				this.currentTitle = this.works[0].name


				window.addEventListener('resize', this.resize, false)
				window.addEventListener('mousemove', this.mouseMove, false)
			}
		},
		beforeDestroy() {
			if (process.browser) {
				window.removeEventListener('resize', this.resize, false)
				window.removeEventListener('mousemove', this.mouseMove, false)
			}
		}
	}
</script>

<style scoped>
	.work-container {
		max-height: 50vh;
	}

	.work-container-spacer {
		padding-bottom: 56.25%;
	}

	.work {
		transition: opacity 0.7s ease-in-out;
	}

	.work-l {
		cursor: url(/images/work-left.png) 32 32, pointer
	}

	.work-r {
		cursor: url(/images/work-right.png) 32 32, pointer
	}

	.work-side {
		width: 15vw;
	}

	.work-description-shield {
		position: absolute;
		left: 0;
		height: 100%;
		width: 100%;
		z-index: 1;
		transform: scaleX(0);
		will-change: transform;
	}

</style>